<ng-container *ngIf="isReady">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center" >
        {{ 'deleted-records-heading' | i18next }}
      </h1>
    </div>
  </div>

  <!-- Render the filter UI elements -->
  <div class="row" *ngIf="filters != null">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="text-center h4-header mb-2">
            {{ 'deleted-records-filters-heading' | i18next }}
          </div>
        </div>
        <ng-container *ngFor="let filter of filters">

          <!-- Text filter -->
          <div *ngIf="filter.type == 'text'" class="row">
            <div class="col-md-2"></div>
            <div class="col-xs-2">
              <label [for]="filter.paramName" class="form-label">{{filter.message}}</label>
            </div>
            <div class="col-xs-6">
              <input [id]="filter.paramName" type="text" class="form-control" [(ngModel)]="filterParams[ filter['paramName']]">
            </div>
            <div class="col-md-2"></div>
          </div>

          <!-- Dropdown filter -->
          <div *ngIf="filter.type == 'drop-down'" class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-xs-2">
              <label [for]="filter.paramName" class="form-label">{{filter.message}}</label>
            </div>
            <div class="col-xs-6">
              <select [id]="filter.paramName" class="form-control" [(ngModel)]="filterParams[ filter['paramName']]">
                <option *ngFor="let item of filter.property.split(';'); first as isFirst" [value]="item" [defaultSelected]="isFirst">
                  {{ item }}
                </option>
              </select>
            </div>
            <div class="col-md-2"></div>
          </div>

        </ng-container>
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8 pt-2 text-end">
            <a class="btn btn-large btn-primary" (click)="filter()">
              <span class="glyphicon glyphicon-search"></span>
              {{ 'deleted-records-filter-button' | i18next }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Result overview  -->
  <div class="row" *ngIf="initTracker && initTracker.resultsReturned">
    <div class="col-xs-2">
      <span *ngIf="initTracker.resultsReturned == false">
        <span class="fa fa-spinner fa-spin fa-fw"></span>
          {{ 'deleted-records-retrieving-results' | i18next }}
      </span>
      <span *ngIf="initTracker.resultsReturned == true"
        [innerHTML]='"deleted-records-results-returned" | i18next: {count: deletedRecordsResult.total }'>
      </span>
    </div>
    <div class="col-xs-8"></div>
    <div class="col-xs-2"></div>
  </div>
  <!-- Result details -->
  <record-table
    [columnConfig]="tableHeaders"
    [dataSource]="this"
    [optTemplateData]="optTemplateData"
    [paginationItemsPerPage]="recordsPerPage"
    [paginationMaxSize]="paginationMaxSize"
    [showActions]="showActions"
    [enableSort]="true"
    [enableActions]="true">
  </record-table>
</ng-container>
