.tree-preview-panel {
  max-height: 360px;
  overflow: auto;
}

.tree-preview-list {
  list-style: none;
  margin: 0;
  padding-left: 1rem;
}

.tree-preview-list > li {
  margin-bottom: 0.35rem;
}

.tree-preview-node {
  align-items: center;
  display: flex;
}

.tree-preview-toggle {
  line-height: 1;
  margin-right: 0.35rem;
  min-width: 1.25rem;
  padding: 0;
  text-decoration: none;
}

.tree-preview-leaf-spacer {
  display: inline-block;
  margin-right: 0.35rem;
  width: 1.25rem;
}
