networks:
  main:

volumes:
  email-data:
  mocha-attachments:
  bruno-oidc-attachments:
  bruno-general-attachments:

services:

  # TODO: test redbox-portal bruno all
  # TODO: test redbox-portal bruno general
  # TODO: test ng-apps
  # TODO: test sails-ng-common

  # npm exec --no -- ng test --browsers=ChromeHeadless --no-watch --no-progress --code-coverage @researchdatabox/portal-ng-common
  # npm exec --no -- ng test --browsers=ChromeHeadless --no-watch --no-progress --code-coverage @researchdatabox/app-config
  # npm exec --no -- ng test --browsers=ChromeHeadless --no-watch --no-progress --code-coverage @researchdatabox/dashboard
  # npm exec --no -- ng test --browsers=ChromeHeadless --no-watch --no-progress --code-coverage @researchdatabox/deleted-records
  # npm exec --no -- ng test --browsers=ChromeHeadless --no-watch --no-progress --code-coverage @researchdatabox/export
  # npm exec --no -- ng test --browsers=ChromeHeadless --no-watch --no-progress --code-coverage @researchdatabox/form
  # npm exec --no -- ng test --browsers=ChromeHeadless --no-watch --no-progress --code-coverage @researchdatabox/local-auth
  # npm exec --no -- ng test --browsers=ChromeHeadless --no-watch --no-progress --code-coverage @researchdatabox/manage-roles
  # npm exec --no -- ng test --browsers=ChromeHeadless --no-watch --no-progress --code-coverage @researchdatabox/manage-users
  # npm exec --no -- ng test --browsers=ChromeHeadless --no-watch --no-progress --code-coverage @researchdatabox/report
  # npm exec --no -- ng test --browsers=ChromeHeadless --no-watch --no-progress --code-coverage @researchdatabox/translation

  # redbox-portal bruno general
  redbox-bruno-general:
    build:
      context: '../'
      dockerfile: './support/Dockerfile'
      target: 'redbox-test-web'
    volumes:
      - "bruno-general-attachments:/attachments"
      - "../.test-output/sails-bruno-general:/opt/redbox-portal/coverage/bruno-general"
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:1500/default/rdmp/home"]
      interval: '10s'
      timeout: '5s'
      retries: 10
      start_period: '60s'
    depends_on:
      keycloak:
        condition: 'service_healthy'
      mongodb:
        condition: 'service_healthy'
      solr:
        condition: 'service_healthy'
      email:
        condition: 'service_healthy'
    expose:
      - "1500"
    environment:
      - 'NODE_OPTIONS=--max-old-space-size=1024'
      - 'CI=${CI:-false}'
      - 'NODE_ENV=integrationtest'
      - 'PORT=1500'
      - 'sails_redbox__apiKey=c8e844fc-8550-497f-b970-7900ec8741ca'
      - 'sails_redbox__mochaTesting=true'
      - 'sails_record__baseUrl_redbox=http://redbox:9000/redbox'
      - 'sails_record__baseUrl_mint=http://localhost'
      - 'sails_auth__default__local__default__token=d077835a-696b-4728-85cf-3ffd57152b1e'
      - 'sails_security__csrf=false'
      - 'datacite_username=${datacite_username:-}'
      - 'datacite_password=${datacite_password:-}'
      - 'datacite_doiPrefix=${datacite_doiPrefix:-}'
    networks:
      main:
        aliases:
          - redboxportal
    # add 'node --inspect=0.0.0.0:9876' for debugging locally
    # init: true
    entrypoint:
      - "node_modules/.bin/nyc"
      - "--no-clean"
      - "--reporter=lcov"
      - "--exclude-after-remap=false"
      - "--report-dir"
      - "/opt/redbox-portal/coverage/bruno-general"
      - "node"
      - "app.integrationtest.js"
    profiles:
      - bruno-general

  bruno-general:
    build:
      context: '../'
      dockerfile: './support/Dockerfile'
      target: 'redbox-test-bruno-general'
    pull_policy: 'missing'
    volumes:
      - "../.test-output/sails-bruno-general:/opt/redbox-portal/.tmp/junit/backend-bruno/"
    depends_on:
      redbox-bruno-general:
        condition: 'service_healthy'
    networks:
      main:
        aliases:
          - bruno
    working_dir: /opt/redbox-portal/test/bruno
    entrypoint:
      - "npm"
      - "exec"
      - "--no"
      - "--"
      - "@usebruno/cli"
      - "run"
      - "--env"
      - "int-test"
      - "--format"
      - "junit"
      - "--bail"
      - "--output"
      - "/opt/redbox-portal/.tmp/junit/backend-bruno/backend-bruno-general.xml"
    profiles:
      - bruno-general

  # redbox-portal bruno oidc
  redbox-bruno-oidc:
    # the redbox website
    build:
      context: '../'
      dockerfile: './support/Dockerfile'
      target: 'redbox-test-web'
    volumes:
      - "bruno-oidc-attachments:/attachments"
      - "../.test-output/sails-bruno-oidc:/opt/redbox-portal/coverage/bruno-oidc/"
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:1500/default/rdmp/home"]
      interval: '10s'
      timeout: '5s'
      retries: 10
      start_period: '60s'
    depends_on:
      keycloak:
        condition: 'service_healthy'
      mongodb:
        condition: 'service_healthy'
      solr:
        condition: 'service_healthy'
      email:
        condition: 'service_healthy'
    expose:
      - "1500"
    environment:
      - 'NODE_OPTIONS=--max-old-space-size=1024'
      - 'CI=${CI:-false}'
      - 'NODE_ENV=integrationtest'
      - 'PORT=1500'
      - 'sails_redbox__apiKey=c8e844fc-8550-497f-b970-7900ec8741ca'
      - 'sails_redbox__mochaTesting=true'
      - 'sails_record__baseUrl_redbox=http://redbox:9000/redbox'
      - 'sails_record__baseUrl_mint=http://localhost'
      - 'sails_auth__default__local__default__token=d077835a-696b-4728-85cf-3ffd57152b1e'
      - 'sails_security__csrf=false'
      - 'datacite_username=${datacite_username:-}'
      - 'datacite_password=${datacite_password:-}'
      - 'datacite_doiPrefix=${datacite_doiPrefix:-}'
    networks:
      main:
        aliases:
          - redboxportal
    # add 'node --inspect=0.0.0.0:9876' for debugging locally
    # init: true
    entrypoint:
      - "node_modules/.bin/nyc"
      - "--no-clean"
      - "--reporter=lcov"
      - "--exclude-after-remap=false"
      - "--report-dir"
      - "/opt/redbox-portal/coverage/bruno-oidc"
      - "node"
      - "app.integrationtest.js"
    profiles:
      - bruno-oidc

  bruno-oidc:
    build:
      context: '../'
      dockerfile: './support/Dockerfile'
      target: 'redbox-test-bruno-oidc'
    pull_policy: 'missing'
    volumes:
      - "../.test-output/bruno-oidc:/opt/redbox-portal/.tmp/junit/backend-bruno/"
    depends_on:
      redbox-bruno-oidc:
        condition: 'service_healthy'
    networks:
      main:
        aliases:
          - bruno
    working_dir: /opt/redbox-portal/test/bruno
    entrypoint:
      - "npm"
      - "exec"
      - "--no"
      - "--"
      - "@usebruno/cli"
      - "run"
      - "--env"
      - "int-test"
      - "--format"
      - "junit"
      - "--bail"
      - "--output"
      - "/opt/redbox-portal/.tmp/junit/backend-bruno/backend-bruno-oidc.xml"
    profiles:
      - bruno-oidc

  # redbox-portal mocha tests
  mocha:
    build:
      context: '../'
      dockerfile: './support/Dockerfile'
      target: 'redbox-test-mocha'
    ports:
      - "1500:1500"
      # Debugging port
      # - "9876:9876"
    expose:
      - "1500"
    volumes:
      - "mocha-attachments:/attachments"
      - "../.test-output/sails-mocha:/opt/redbox-portal/.tmp/junit/backend-mocha/"
      - "../.test-output/sails-mocha:/opt/redbox-portal/coverage/mocha/"
    depends_on:
      keycloak:
        condition: 'service_healthy'
      mongodb:
        condition: 'service_healthy'
      solr:
        condition: 'service_healthy'
      email:
        condition: 'service_healthy'
    environment:
      - 'CI=${CI:-false}'
      - 'NODE_ENV=integrationtest'
      - 'PORT=1500'
      - 'sails_redbox__apiKey=c8e844fc-8550-497f-b970-7900ec8741ca'
      - 'sails_redbox__mochaTesting=true'
      - 'sails_record__baseUrl_redbox=http://redbox:9000/redbox'
      - 'sails_record__baseUrl_mint=http://localhost'
      - 'sails_auth__default__local__default__token=d077835a-696b-4728-85cf-3ffd57152b1e'
      - 'sails_security__csrf=false'
      - 'datacite_username=${datacite_username:-}'
      - 'datacite_password=${datacite_password:-}'
      - 'datacite_doiPrefix=${datacite_doiPrefix:-}'
    networks:
      main:
        aliases:
          - mocha
    entrypoint:
      - "node_modules/.bin/nyc"
      - "--no-clean"
      - "--reporter=lcov"
      - "--exclude-after-remap=false"
      - "--report-dir"
      - "/opt/redbox-portal/coverage/mocha"
      - "node_modules/.bin/mocha"
      - "--config"
      - "test/unit/.mocharc.js"
      - "--exit"
      - "test/bootstrap.test.js"
      - "test/unit/**/*.test.js"
    profiles:
      - mocha

  # common services
  minio:
    image: 'quay.io/minio/minio:latest'
    command: [ 'server','/data','--console-address',':9002' ]
    expose:
      - '9000'
      - '9002'
    ports:
      - '9000:9000'
      - '9002:9002'
    environment:
      MINIO_ROOT_USER: 'minioadmin'
      MINIO_ROOT_PASSWORD: 'minioadmin'
    healthcheck:
      test: [ 'CMD-SHELL', 'curl http://localhost:9000' ]
      interval: '5s'
      timeout: '5s'
      retries: 10
      start_period: '20s'
    networks:
      main:
        aliases:
          - minio

  mongodb:
    image: 'mongo:latest'
    expose:
      - '27017'
    ports:
      - '27017:27017'
    healthcheck:
      test: [ 'CMD-SHELL', "echo 'db.runCommand(\"ping\").ok' | mongosh" ]
      interval: '15s'
      timeout: '5s'
      retries: 10
      start_period: '30s'
    networks:
      main:
        aliases:
          - mongodb

  solr:
    image: 'solr:latest'
    expose:
      - '8983'
    ports:
      - '8983:8983'
    environment:
      - 'SOLR_HOME=/var/solr/data'
    healthcheck:
      test: [ 'CMD-SHELL', 'curl http://localhost:8983' ]
      interval: '15s'
      timeout: '5s'
      retries: 10
    volumes:
      - "./integration-testing/solr.in.sh:/etc/default/solr.in.sh"
    networks:
      main:
        aliases:
          - solr
    entrypoint:
      - 'docker-entrypoint.sh'
      - 'solr-precreate'
      - 'redbox'

  email:
    image: 'axllent/mailpit:latest'
    expose:
      - '1025'
      - '8025'
    ports:
      - '8025:8025'
      - '1025:1025'
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: '/data/mailpit.db'
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
      TZ: 'Australia/Brisbane'
    volumes:
      - 'email-data:/data'
    networks:
      main:
        aliases:
          - email

  keycloak:
    build:
      context: '../'
      dockerfile: './support/Dockerfile'
      target: 'redbox-keycloak'
    expose:
      - "8080"
    healthcheck:
      test: [ "CMD-SHELL", "curl http://localhost:8080" ]
      interval: '10s'
      timeout: '5s'
      retries: 10
      start_period: '30s'
    networks:
      main:
        aliases:
          - keycloak
    command:
      - start-dev
