{
"apps" : [{
 // Application #1
 "name"        : "rbportal",
 "script"      : "app.js",
 "args"        : [],
 "watch"       : true,
 "node_args"   : "",
 "merge_logs"  : true,
 "cwd"         : "#PATH#",
 "env": {
   "NODE_ENV": "#ENVIRONMENT#",
   "redboxApiKey": "#APIKEY#",
   "sails_appUrl": "#URL#"
 }
}
]
}
