# General files and folders
.git/
.circleci/
.github/
.idea/
.vscode/

**/node_modules/
**/bower_components/
**/coverage/
**/.nyc_output/

**/*.log
**/.DS_Store
**/Thumbs.db
**/dump.rdb

lib-cov
*.seed
*.out
*.pid
npm-debug.log

*~
*#
.DS_STORE
.netbeans
nbproject
.node_history

# ReDBox files and files
.tmp/
**/.angular/
**/dist/
assets/angular/
attachments/
.dev/
config/local.js
.tests/
.coverage/

typescript/controllers/*.js
api/controllers/typescript/*.js
api/controllers/typescript/webservice/*.js
*.map
assets/angular/**/*.ngfactory*
.project
RecordsService.js
.tscache
!assets/angular/**/rollup-config.js
api/services/*.js



coverage.lcov
failedTests
support/acceptance-testing/reports/
support/acceptance-testing/build/
support/acceptance-testing/*.iml
support/acceptance-testing/*.ipr
support/acceptance-testing/*.iws
*.iml
*.ipr
*.iws
DashboardService.js
*.tmp*
redbox-portal/assets/angular
www
api/controllers/**/*.js
typescript/api/controllers/**/*.js
typescript/api/services/**/*.js

api/core/**/*.js
dev

api/models/Record.js
api/models/RecordAudit.js
api/models/DeletedRecord.js
support/raido/src*

support/raido/*.tgz


api/configmodels/*
api/additional/*

# js files built from ts files

# typescript/assets/default/default/js
assets/default/default/js/client-script.js

# typescript/config/validators.ts
config/validators.js

# typescript/form-config
form-config/default-1.0-draft.js

!support/ng19-forms-migration/parseTabs.js
!support/ng19-forms-migration/parseTabFields.js
!support/ng19-forms-migration/fieldComponentMap.js
api/shims/*.js

docs/
.serve-data/
