<div class="col-md-offset-2 col-md-8" *ngIf="!isLoading">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{ 'transfer-ownership-title' | translate }}
      </h3>
    </div>
    <div class="panel-body" style="overflow:scroll" *ngIf="formGroup">
      <div>{{ 'transfer-ownership-step-1' | translate }}</div>
      <div><br/></div>
      <div class="input-group">
        <span class="input-group-addon" id="name-addon">{{ 'transfer-ownership-filter-plan-name' | translate }}</span>
        <input type="text" (keyup)="onFilterChange()" [(ngModel)]="searchFilterName" class="form-control" placeholder="{{ 'transfer-ownership-filter-plan-name-placeholder' | translate}}" aria-describedby="name-addon">
        <span (click)="resetFilter()" class="input-group-btn"><button class="btn btn-primary" type='button'>Reset</button></span>
      </div>
      <div><br/></div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center" style="width: 10%;">{{ 'transfer-ownership-select' | translate }}</th>
              <th>{{ 'transfer-ownership-plan-name' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plan of filteredPlans" (click)="toggleSelect(plan)">
              <td class="text-center"><input type='checkbox'  [(ngModel)]="plan.selected"/></td>
              <td>{{ plan.dashboardTitle }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div><br/></div>
      <div>{{ 'transfer-ownership-step-2' | translate }}</div>
      <rb-vocab [field]="userLookupMeta" [form]="formGroup"></rb-vocab>
      <button [disabled]="!canTransfer()" class="btn btn-primary" type='button' data-toggle="modal" data-target="#myModal">{{ 'transfer-ownership-execute' | translate }}</button>
      <div><br/></div>
      <div class="bg-{{saveMsgType}} text-center">{{saveMsg}}</div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" *ngIf="!isLoading" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ 'transfer-ownership-confirm-title' | translate }}</h4>
      </div>
      <div class="modal-body">
        <h5>{{ 'transfer-ownership-confirm-body' | translate }}</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="transferOwnership($event)">{{ 'transfer-ownership-confirm-yes' | translate }}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'transfer-ownership-confirm-no' | translate }}</button>
      </div>
    </div>
  </div>
</div>
