<div class="row">
    <div class="col-md-offset-5 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">
            <%= TranslationService.t('admin-title') %>
          </span>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
</div>
