<div class="row">

</div>
<div class="row">
  <div class="col-xs-2">

  </div>
  <div class="col-xs-8">

   <report branding="<%= typeof branding == 'undefined'? data.branding : branding %>" portal="<%= typeof portal == 'undefined'? data.portal : portal %>" name="<%= req.param('name') %>"></report>
   <div class="row" id="loading">
     <div class="col-xs-1">
     </div>
     <div class="col-xs-10">
       <img class="center-block" src="/images/loading.svg">
     </div>
     <div class="col-xs-1">
     </div>
   </div>
<% if (!sails.config.ng2.use_bundled) { %>
 <script src="/dynamic/systemjs-config.js?appName=report"></script>
 <script>
   System.import('report').catch(function(err){ console.error(err); });
 </script>
<% } %>

  </div>
  <div class="col-xs-2">
  </div>
</div>
