<div class="col-md-offset-2 col-md-8" *ngIf="!isLoading">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{ 'user-profile-edit' | translate }}
      </h3>
    </div>
    <div class="panel-body" style="overflow:scroll">
        <form id="detailsform" [formGroup]="updateUserForm" novalidate (ngSubmit)="updateUserSubmit(updateUserForm.value, updateUserForm.valid)">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr *ngIf="currentUser.type == 'local'">
                    <td>{{ 'manage-users-username' | translate }}</td>
                    <td>{{ currentUser.username }}</td>
                  </tr>
                  <tr>
                    <td>{{ 'manage-users-name' | translate }}</td>
                    <td *ngIf="currentUser.type == 'local'">
                      <input type="text" formControlName="name" class="form-control input-sm chat-input"/>
                      <div class='form-text error' *ngIf='updateUserForm.controls.name.touched || submitted'>
                          <div *ngIf="updateUserForm.controls.name.hasError('required')">{{ 'manage-users-validation-name' | translate }}</div>
                        </div>
                    </td>
                    <td *ngIf="currentUser.type != 'local'">{{currentUser.name}}</td>
                  </tr>
                  <tr>
                    <td>{{ 'manage-users-email' | translate }}</td>
                    <td *ngIf="currentUser.type == 'local'">
                        <input type="email" formControlName="email" class="form-control input-sm chat-input"/>
                        <div class='form-text error' *ngIf='updateUserForm.controls.email.touched || submitted'>
                            <div *ngIf="updateUserForm.controls.email.hasError('invalidEmail')">{{ 'manage-users-validation-email' | translate }}</div>
                          </div>
                    </td>
                    <td *ngIf="currentUser.type != 'local'">{{currentUser.email}}</td>
                  </tr>
                  <tr>
                    <td>{{ 'manage-users-password' | translate }}</td>
                    <td *ngIf="currentUser.type == 'local'">
                      <div formGroupName="passwords">
                          <input type="password" formControlName="password" class="form-control input-sm chat-input" placeholder="{{ 'manage-users-update-password' | translate }}"/>
                      </div>
                    </td>
                    <td *ngIf="currentUser.type != 'local'">{{ 'manage-users-aaf-password' | translate}}</td>
                  </tr>
                  <tr *ngIf="currentUser.type == 'local'">
                      <td>{{ 'manage-users-confirm-password' | translate }}</td>
                      <td>
                          <div formGroupName="passwords">
                            <input type="password" formControlName="confirmPassword" class="form-control input-sm chat-input" placeholder="Confirm Password"/>
                          </div>
                          <div class='form-text error' *ngIf="updateUserForm.controls.passwords.controls.confirmPassword.touched || submitted">
                              <div *ngIf="updateUserForm.controls.passwords.hasError('mismatched')">{{ 'manage-users-validation-confirmpassword' | translate }}</div>
                            </div>
                      </td>
                  </tr>
                  <tr>
                    <td>{{ 'manage-users-api' | translate }}</td>
                    <td *ngIf="!currentUser.token">
                      <button type="button" class="btn btn-primary" (click)="genKey(currentUser.id)">{{ 'manage-users-api-generate' | translate }}</button>
                    </td>
                    <td *ngIf="currentUser.token">
                        {{ currentUser.token }}<br />
                        <button type="button" class="btn btn-primary" (click)="revokeKey(currentUser.id)">{{ 'manage-users-api-revoke' | translate }}</button>
                      </td>
                  </tr>
                  <tr>
                      <td class="col-md-2">{{ 'manage-roles-role' | translate }}</td>
                      <td class="col-md-8">{{ roleStr }}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </form>
          <div class="bg-{{updateDetailsMsgType}} center-block">{{updateDetailsMsg}}</div>
      <div>
        <br/>
      </div>
      <div>
        <br/>
      </div>
      <div class="modal-footer">
          <button type="button" *ngIf="currentUser.type == 'local'" class="btn btn-primary" form="detailsform" type="submit">{{ 'manage-users-save' | translate }}</button>
          <button type="button" class="btn btn-default" (click)="return()">{{ 'user-profile-return' | translate }}</button>
      </div>
    </div>
  </div>
</div>