jobs:
  build:
    docker:
      - image: 'cimg/node:20.11'
    resource_class: large
    steps:
      - checkout
      - run:
          name: Install npm packages for core
          command: |
            cd core
            npm install
      - run:
          name: Compile core
          command: |
            cd core
            node_modules/.bin/tsc
      - run:
          name: Install npm packages for project
          command: npm install --production
      - run:
          name: Compile project
          command: node_modules/.bin/tsc
      - run:
          name: Install nvm
          command: curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
      - run:
          name: Compile angular
          command: |
            chmod +x support/build/compileProductionAngular.sh
            support/build/compileProductionAngular.sh
      - run:
          name: Compile legacy angular
          command: |
            chmod +x support/build/compileProductionAngularLegacy.sh
            support/build/compileProductionAngularLegacy.sh
      - run:
          name: Compile sails app using webpack
          command: npm run webpack
      - run:
          name: Build api descriptors
          command: |
            cd support/build/api-descriptors
            chmod +x ./generateAPIDescriptors.sh
            ./generateAPIDescriptors.sh
      - persist_to_workspace:
          root: .
          paths:
            - .
  build_without_angular:
    docker:
      - image: 'cimg/node:20.11'
    steps:
      - checkout
      - run:
          name: Install npm packages for core
          command: |
            cd core
            npm install
      - run:
          name: Compile core
          command: |
            cd core
            node_modules/.bin/tsc
      - run:
          name: Install npm packages for project
          command: npm install --production
      - run:
          name: Compile project
          command: node_modules/.bin/tsc
      - run:
          name: Compile sails app using webpack
          command: npm run webpack
      - persist_to_workspace:
          root: .
          paths:
            - .
  test:
    machine:
      image: ubuntu-2004:current
    resource_class: large
    steps:
      - attach_workspace:
          at: /home/circleci/project
      - run:
          name: Compile typescript for code coverage
          command: node_modules/.bin/tsc -p tsconfig-codecov.json
      - run:
          name: Run Postman and Mocha tests with code coverage
          command: |
            sudo chmod -R 777 .
            cd support/integration-testing
            sudo mkdir -p .tmp/attachments/staging
            sudo chmod -R 777 .
            docker-compose -f docker-compose.newman.yml up --abort-on-container-exit --exit-code-from redboxportal
            docker-compose -f docker-compose.mocha.yml up --abort-on-container-exit --exit-code-from redboxportal
      - run:
          name: Install codecov and upload newman and mocha code coverage
          # https://docs.codecov.com/docs/the-codecov-cli#as-a-binary
          # https://docs.codecov.com/docs/codecov-uploader#using-the-cli-to-upload-reports-with-codecovio-cloud
          command: |
            mkdir -p /tmp/.codecov-cli
            curl https://keybase.io/codecovsecurity/pgp_keys.asc | gpg --no-default-keyring --keyring trustedkeys.gpg --import
            curl -o /tmp/.codecov-cli/codecov -Os https://uploader.codecov.io/latest/linux/codecov
            curl -o /tmp/.codecov-cli/codecov.SHA256SUM -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM
            curl -o /tmp/.codecov-cli/codecov.SHA256SUM.sig -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM.sig
            gpgv /tmp/.codecov-cli/codecov.SHA256SUM.sig /tmp/.codecov-cli/codecov.SHA256SUM
            shasum -a 256 -c /tmp/.codecov-cli/codecov.SHA256SUM
            chmod +x /tmp/.codecov-cli/codecov
            /tmp/.codecov-cli/codecov --verbose upload-process --fail-on-error --disable-search --token ${{ secrets.CODECOV_TOKEN }} \
            --name "job-${CIRCLE_BUILD_NUM}-${CIRCLE_BRANCH}" --flag "newman" --file "./coverage/newman/lcov.info"
            /tmp/.codecov-cli/codecov --verbose upload-process --fail-on-error --disable-search --token ${{ secrets.CODECOV_TOKEN }} \
            --name "job-${CIRCLE_BUILD_NUM}-${CIRCLE_BRANCH}" --flag "mocha" --file "./coverage/mocha/lcov.info"
      - run:
          name: Run angular tests
          # uses the codecov binary installed in previous step
          command: |
            chmod +x support/unit-testing/angular/testAngular.sh
            source support/unit-testing/angular/testAngular.sh
      - run:
          name: Install npm packages for project
          command: |
            sudo chmod -R 777 .
            npm i
  deploy:
    docker:
      - image: 'cimg/node:18.12'
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /home/circleci/project
      - run:
          name: Build docker container
          command: |
            chmod +x dockerhub_deploy.sh
            ./dockerhub_deploy.sh
      - run:
          name: Upload container to Nexus
          command: |
            echo $CIRCLE_BRANCH
            npm pack
            PACKAGE_VERSION=$(cat package.json \
            | grep version \
            | head -1 \
            | awk -F: '{ print $2 }' \
            | sed 's/[", \t]//g')
            RBPORTAL_FILENAME=$(ls redbox-portal-*.tgz)
            curl -v -u $MAVEN_USER:$MAVEN_PASSWORD --upload-file $RBPORTAL_FILENAME "https://nexus-prod.redboxresearchdata.com.au/nexus/repository/maven-snapshots/au/edu/qcif/redbox-portal/${PACKAGE_VERSION}-SNAPSHOT/redbox-portal-${PACKAGE_VERSION}-SNAPSHOT.tgz"  
  generate-docs:
    machine:
      image: ubuntu-2004:current
    steps:
      - add_ssh_keys:
          fingerprints:
            - "50:0c:a1:7f:b6:64:84:42:01:61:0f:76:3f:e4:78:ff"
      - attach_workspace:
          at: /home/circleci/project
      - run:
          name: Generate angular docs
          command: npm run doc-ng2
      - run:
          name: Deploy docs by adding commit to gh-pages branch
          command: |
            npm install -g --silent gh-pages@2.0.1
            git config user.email "ci-build@redboxresearchdata.com.au"
            git config user.name "ci-build"
            gh-pages --dotfiles --message "[ci skip] Updating documents" --dist support/docs/generated/ng2
orbs:
  node: circleci/node@4.0.0
  docker: circleci/docker@1.4.0
version: 2.1
workflows:
  build_test_gendocs_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: /^dependabot.*/
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
          filters:
            branches:
              ignore: /^dependabot.*/
      - generate-docs:
          requires:
            - test
          filters:
            branches:
              only: 'master'
  build_test_dependabot:
    jobs:
      - build:
          filters:
            branches:
              only: /^dependabot.*/
            tags:
              ignore: /.*/
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
          filters:
            branches:
              ignore: /^dependabot.*/
      - generate-docs:
          requires:
            - test
          filters:
            branches:
              only: 'master'
  release_build_test_gendocs_and_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - test:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
