<div *ngIf="!criticalError" class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
      <div [ngClass]="cssClasses">
        <div *ngIf="form">
          <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <dmp-field *ngFor="let field of fields" [field]="field" [form]="form" class="form-row" [fieldMap]="fieldMap"></dmp-field>
            <div *ngIf="editMode" class="form-row">
              <div class="pull-right col-md-10">
                <button type="button" (click)="onSubmit()" class="btn btn-primary" [disabled]="!needsSave || isSaving()">Save</button>
                <button type="button" class="btn btn-warning" [disabled]="isSaving()" (click)="onCancel()">Cancel</button>
              </div>
            </div>
            <div *ngIf="editMode" class="form-row">
              <div class="pull-right col-md-10 margin-15">
                <p class="bg-info text-16 text-info padding-10" *ngIf="status.saving">{{status.saving.msg}}<i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></p>
                <p class="bg-danger text-16 text-danger padding-10" *ngIf="status.error">{{status.error.msg}}</p>
                <p class="bg-success text-16 text-success padding-10" *ngIf="status.success">{{status.success.msg}}</p>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
  <div class="col-xs-1"></div>
</div>
<div *ngIf="criticalError" class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <div class="panel panel-danger">
      <div class="panel-heading">
         <h3 class="panel-title">Error</h3>
       </div>
       <div class="panel-body">
         <code>
           {{criticalError}}
         </code>
       </div>
    </div>
  </div>
  <div class="col-xs-2"></div>
</div>
