<div *ngIf="!field.editMode" class="key-value-pair">
  <span *ngIf="field.label" class="key">{{field.label}}</span>
  <ul>
    <li *ngFor="let value of field.value">{{ value.notation }} - {{ value.label }}</li>
  </ul>
</div>
<div *ngIf="field.editMode" [formGroup]='form' [ngClass]="getGroupClass()">
  <span class="label-font">
    {{field.label}} {{getRequiredLabelStr()}}
    <button type="button" class="btn btn-default" *ngIf="field.help" (click)="toggleHelp()" [attr.aria-label]="'help' | translate "><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
  </span>
  <span id="{{ 'helpBlock_' + field.name }}" class="help-block" *ngIf="this.helpShow" >{{field.help}}</span>
  <tree-root *ngIf="field.editMode"
      #andsTree
      class="reverse"
      id="andsTree"
      [nodes]="treeData"
      [options]="options"
      (nodeActivate)="onNodeActivate($event)"
      (nodeDeactivate)="onNodeDeactivate($event)"
      (event)="onEvent($event)"
      >
      <ng-template #treeNodeWrapperTemplate let-node let-index="index">
        <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
          <tree-node-expander [node]="node"></tree-node-expander>
          <rb-tree-node-checkbox *ngIf="node.options.useCheckbox" [node]="node" [ariaLabel]="node.data.name"></rb-tree-node-checkbox>
          <div class="node-content-wrapper"
            [class.node-content-wrapper-active]="node.isActive"
            [class.node-content-wrapper-focused]="node.isFocused"
            (click)="node.mouseAction('click', $event)"
            (dblclick)="node.mouseAction('dblClick', $event)"
            (contextmenu)="node.mouseAction('contextMenu', $event)"
            (treeDrop)="node.onDrop($event)"
            [treeAllowDrop]="node.allowDrop"
            [treeDrag]="node"
            [treeDragEnabled]="node.allowDrag()">

            <tree-node-content [node]="node" [index]="index"></tree-node-content>
          </div>
        </div>
      </ng-template>
  </tree-root>
  <div class="text-danger" *ngIf="hasRequiredError()">{{field.validationMessages.required}}</div>
</div>
