<div class="panel panel-primary" >
  <div class="panel-body">
    <label [attr.for]="field.name">
      {{field.label}} {{ getRequiredLabelStr()}}
      <button type="button" class="btn btn-default" *ngIf="field.help" (click)="toggleHelp()"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
    </label><br/>
    <div *ngIf="field.value.oid">
       {{ field.value.title }} <button class="btn btn-info" (click)="field.resetSelector()">{{ 'change-text' | translate }}</button>
    </div>
    <div *ngIf="!field.value.oid">
      <div class="input-group">
        <span class="input-group-addon" id="name-addon">{{ 'search-by-name' | translate }}</span>
        <input type="text" (keyup)="field.onFilterChange()" [(ngModel)]="field.searchFilterName" class="form-control" placeholder="Name" aria-describedby="name-addon">
        <span  (click)="field.resetFilter()" class="input-group-btn"><button class="btn btn-primary" type='button'>{{ 'transfer-ownership-reset' | translate }}</button></span>
      </div>
      <div><br/></div>
      <div class="table-responsive" *ngIf="hasFilteredResults()">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>{{ field.columnTitle }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plan of field.filteredPlans" (click)="field.recordSelectedEmit(plan,$event)">
              <td>{{ plan.title }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
