<div class='padding-bottom-10'>

  <div class="row">
    <table class="table">
      <thead>
          <tr>
              <ng-container *ngFor="let header of field.columns"><th *ngIf='header.show != false'>{{ header.label }}</th></ng-container>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of field.relatedObjects">
          <ng-container *ngFor="let column of field.columns">
            <td *ngIf='column.show != false'>

              <!-- Multi values -->
              <ng-container *ngIf='field.isMultiValue(item, column)'>
                <div *ngFor="let itemEntry of field.getPropertyValue(item, column)">
                  <ng-container *ngIf='column.link && column.link.type == "dynamic"'>
                    <!-- Don't run a template when pattern is not set, just show the value as a link -->
                    <a *ngIf="!column.link.pattern" [href]="sanitizeUrl(field.getPropertyValue(itemEntry, column))">{{ field.getPropertyValue(itemEntry, column) }}</a>
                    <!-- Run a template when we have pattern and use that as the URL, with the value as the link label -->
                    <a  *ngIf="column.link.pattern" [href]="sanitizeUrl(column.link.pattern | stringTemplate:itemEntry)">{{ field.getPropertyValue(itemEntry, column) }}</a>
                  </ng-container>
                  <ng-container *ngIf='column.link && (column.link.type == "static" || column.link.type == null)'>
                    <div *ngIf="itemEntry['label']; else ordinaryLinkBlock">
                      <a *ngIf="itemEntry['link']; else disableLinkBlock" target="_blank" rel="noopener noreferrer" [href]="sanitizeUrl(itemEntry['link'])" [innerHtml]="itemEntry['label']"></a>
                      <ng-template #disableLinkBlock>
                        <span>
                          {{ itemEntry['label'] }}
                        </span>
                      </ng-template>
                    </div>
                    <ng-template #ordinaryLinkBlock>
                      <a target="_blank" rel="noopener noreferrer" [href]="sanitizeUrl(itemEntry)" [innerHtml]="itemEntry"></a>
                    </ng-template>
                  </ng-container>
                  <!-- Displaying the value as is -->
                  <ng-container *ngIf='!column.link'>
                    {{ itemEntry }}
                  </ng-container>
                </div>
              </ng-container>
              <!-- Single Values -->
              <ng-container *ngIf='field.isMultiValue(item, column) === false'>
                <ng-container *ngIf='column.link && column.link.type == "dynamic"'>
                  <!-- Don't run a template when pattern is not set, just show the value as a link -->
                  <a *ngIf="!column.link.pattern" [href]="sanitizeUrl(field.getPropertyValue(item, column))">{{ field.getPropertyValue(item, column) }}</a>
                  <!-- Run a template when we have pattern and use that as the URL, with the value as the link label -->
                  <a  *ngIf="column.link.pattern" [href]="sanitizeUrl(column.link.pattern | stringTemplate:item)">{{ field.getPropertyValue(item, column) }}</a>
                </ng-container>
                <!-- For static links -->
                <ng-container *ngIf='column.link && column.link.type == "static"'>
                  <div *ngIf="field.getPropertyValue(item, column)['label']; else ordinaryLinkBlock">
                    <a *ngIf="field.getPropertyValue(item, column)['link']; else disableLinkBlock" target="_blank" rel="noopener noreferrer" [href]="sanitizeUrl(field.getPropertyValue(item, column)['link'])" [innerHtml]="field.getPropertyLabel(item, column)"></a>
                    <!-- Disabled link retained for backwards compat -->
                    <ng-template #disableLinkBlock>
                      <span>
                        {{ field.getPropertyValue(item, column) }}
                      </span>
                    </ng-template>
                  </div>
                  <ng-template #ordinaryLinkBlock>
                    <a target="_blank" rel="noopener noreferrer" [href]="sanitizeUrl(field.getPropertyValue(item, column))" [innerHtml]="field.getPropertyValue(item, column)"></a>
                  </ng-template>
                </ng-container>
                <!-- Displaying the value as is -->
                <ng-container *ngIf='!column.link'>
                  {{ field.getPropertyValue(item, column )}}
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <p *ngIf="field.failedObjects.length > 0">There were {{ field.failedObjects.length }} records that failed to load</p>
    <p *ngIf="field.accessDeniedObjects.length > 0">There were {{ field.accessDeniedObjects.length }} records that you do not have access to</p>
  </div>
</div>
