<div *ngIf="field.editMode" class='padding-bottom-10'>
  <div class="row" *ngIf="field.label && field.showHeader">
    <div class="col-xs-4">
      <span class="label-font">
        {{field.label}} {{getRequiredLabelStr()}}
        <button type="button" class="btn btn-default" *ngIf="field.help" (click)="toggleHelp()" [attr.aria-label]="'help' | translate "><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
      </span>
      <span id="{{ 'helpBlock_' + field.name }}" class="help-block" *ngIf="this.helpShow" [innerHtml]="field.help"></span>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="field.freeText" [formGroup]='field.formModel'>
      <!-- Free Text version -->
      <!--
      <ng-container >
        <div [ngClass]="getGroupClass('name')">
          <input formControlName="name" type="text" class="form-control"/>
          <div class="text-danger" *ngIf="field.formModel.controls['name'].touched && field.formModel.controls['name'].hasError('required')">{{field.validationMessages.required.name}}</div>
        </div>
        <div [ngClass]="getGroupClass('email')">
          <input formControlName="email" type="text" class="form-control" />
          <div class="text-danger" *ngIf="field.formModel.controls['email'].touched && field.formModel.controls['email'].hasError('email')">{{field.validationMessages.invalid.email}}</div>
          <div class="text-danger" *ngIf="field.formModel.controls['email'].touched && field.formModel.controls['email'].hasError('required')">{{field.validationMessages.required.email}}</div>
        </div>
        <div >
          <input formControlName="orcid" type="text" class="form-control"/>
        </div>
      </ng-container>  -->

      <div *ngIf="!isEmbedded">
        <div class="row">
          <span class='col-xs-10' >
            <!-- Free text not embedded version -->
            <!-- Name not split -->
            <div class='col-xs-1' *ngIf="!field.splitNames">
              <span class='text-right'>{{ field.nameColHdr }}</span>
            </div>
            <div [ngClass]="getGroupClass('text_full_name')" *ngIf="!field.splitNames">
              <input formControlName="text_full_name" type="text" class="form-control" [attr.aria-label]="field.nameColHdr"/>
              <div class="text-danger" *ngIf="field.formModel.controls['text_full_name'].touched && field.formModel.controls['text_full_name'].hasError('required')">{{field.validationMessages.required.text_full_name}}</div>
            </div>
            <!-- Name split to family name, give name -->
            <div class='col-xs-1' *ngIf="field.splitNames">
              <span class='text-right'>{{ field.familyNameHdr }}</span>
            </div>
            <div [ngClass]="getGroupClass('family_name')" *ngIf="field.splitNames">
              <input formControlName="family_name" type="text" class="form-control"/>
              <div class="text-danger" *ngIf="field.formModel.controls['family_name'].touched && field.formModel.controls['family_name'].hasError('required')" [attr.aria-label]="field.familyNameHdr">{{field.validationMessages.required.family_name}}</div>
            </div>
            <div class='col-xs-1' *ngIf="field.splitNames">
              <span class='text-right'>{{ field.givenNameHdr }}</span>
            </div>
            <div [ngClass]="getGroupClass('given_name')" *ngIf="field.splitNames">
              <input formControlName="given_name" type="text" class="form-control"/>
              <div class="text-danger" *ngIf="field.formModel.controls['given_name'].touched && field.formModel.controls['given_name'].hasError('required')" [attr.aria-label]="field.givenNameHdr">{{field.validationMessages.required.given_name}}</div>
            </div>
            <div class='col-xs-1'>
              <span class='text-right'>{{ field.emailColHdr }}</span>
            </div>
            <div [ngClass]="getGroupClass('email')">
              <input formControlName="email" type="text" class="form-control" [attr.aria-label]="field.emailColHdr"/>
              <div class="text-danger" *ngIf="field.formModel.controls['email'].touched && field.formModel.controls['email'].hasError('email')">{{field.validationMessages.invalid.email}}</div>
              <div class="text-danger" *ngIf="field.formModel.controls['email'].touched && field.formModel.controls['email'].hasError('required')">{{field.validationMessages.required.email}}</div>
            </div>
            <div class='col-xs-1'>
              <span class='text-right'>{{ field.orcidColHdr }}</span>
            </div>
            <div [ngClass]="getGroupClass('orcid')">
              <input formControlName="orcid" type="text" class="form-control" [attr.aria-label]="field.orcidColHdr"/>
            </div>
          </span>
        </div>
      </div>

      <ng-container *ngIf="isEmbedded">
        <!-- Embedded free text version -->
        <!-- Names unsplit -->
        <div class='col-xs-1' *ngIf="!field.splitNames">
          <span class='text-right'>{{ field.nameColHdr }}</span>
        </div>
        <div [ngClass]="getGroupClass('text_full_name')" *ngIf="!field.splitNames">
          <input formControlName="text_full_name" type="text" class="form-control" [attr.aria-label]="field.nameColHdr"/>
          <div class="text-danger" *ngIf="field.formModel.controls['text_full_name'].touched && field.formModel.controls['text_full_name'].hasError('required')">{{field.validationMessages.required.text_full_name}}</div>
        </div>
        <!-- Names are split -->
        <div class='col-xs-1' *ngIf="field.splitNames">
          <span class='text-right'>{{ field.familyNameHdr }}</span>
        </div>
        <div [ngClass]="getGroupClass('family_name')" *ngIf="field.splitNames">
          <input formControlName="family_name" type="text" class="form-control" [attr.aria-label]="field.familyNameHdr"/>
          <div class="text-danger" *ngIf="field.formModel.controls['family_name'].touched && field.formModel.controls['family_name'].hasError('required')">{{field.validationMessages.required.family_name}}</div>
        </div>
        <div class='col-xs-1' *ngIf="field.splitNames">
          <span class='text-right'>{{ field.givenNameHdr }}</span>
        </div>
        <div [ngClass]="getGroupClass('given_name')" *ngIf="field.splitNames">
          <input formControlName="given_name" type="text" class="form-control" [attr.aria-label]="field.givenNameHdr"/>
          <div class="text-danger" *ngIf="field.formModel.controls['given_name'].touched && field.formModel.controls['given_name'].hasError('required')">{{field.validationMessages.required.given_name}}</div>
        </div>
        <div class='col-xs-1'>
          <span class='text-right'>{{ field.emailColHdr }}</span>
        </div>
        <div [ngClass]="getGroupClass('email')">
          <input formControlName="email" type="text" class="form-control" [attr.aria-label]="field.emailColHdr"/>
          <div class="text-danger" *ngIf="field.formModel.controls['email'].touched && field.formModel.controls['email'].hasError('email')">{{field.validationMessages.invalid.email}}</div>
          <div class="text-danger" *ngIf="field.formModel.controls['email'].touched && field.formModel.controls['email'].hasError('required')">{{field.validationMessages.required.email}}</div>
        </div>
        <div class='col-xs-1'>
          <span class='text-right'>{{ field.orcidColHdr }}</span>
        </div>
        <div [ngClass]="getGroupClass('orcid')">
          <input formControlName="orcid" type="text" class="form-control" [attr.aria-label]="field.orcidColHdr"/>
        </div>
      </ng-container>

    </ng-container>
    <!-- Lookup version -->
    <ng-container *ngIf="!field.freeText" [formGroup]="field.formModel">
      <div *ngIf="!isEmbedded">
        <div class="row">
          <span class='col-xs-10' >
            <!-- Lookup Not Embedded version -->
            <div class='col-xs-1'>
              <span class='text-right'>{{ field.nameColHdr }}</span>
            </div>
            <div [ngClass]="getGroupClass('text_full_name')">
              <ng2-completer #ngCompleter (keydown)="onKeydown($event)" [overrideSuggested]="!field.forceLookupOnly" [inputClass]="'form-control'" [placeholder]="field.vocabField.placeHolder" [clearUnselected]="field.forceLookupOnly" (selected)="onSelect($event)" [datasource]="field.vocabField.dataService" [minSearchLength]="0" [initialValue]="field.vocabField.initialValue"></ng2-completer>
              <div class="text-danger" *ngIf="field.formModel.controls['text_full_name'].hasError('required')">{{field.validationMessages.required.text_full_name}}</div>
            </div>
            <div class='col-xs-1'>
              <span class='text-right'>{{ field.emailColHdr }}</span>
            </div>
            <div [ngClass]="getGroupClass('email')">
              <input formControlName="email" type="text" class="form-control" [readOnly]="field.forceLookupOnly" [attr.aria-label]="field.emailColHdr"/>
              <div class="text-danger" *ngIf="field.formModel.controls['email'].touched && field.formModel.controls['email'].hasError('email')">{{field.validationMessages.invalid.email}}</div>
              <div class="text-danger" *ngIf="field.formModel.controls['email'].touched && field.formModel.controls['email'].hasError('required')">{{field.validationMessages.required.email}}</div>
            </div>
            <div class='col-xs-1'>
              <span class='text-right'>{{ field.orcidColHdr }}</span>
            </div>
            <div [ngClass]="getGroupClass('orcid')">
              <input formControlName="orcid" type="text" class="form-control" [attr.aria-label]="field.orcidColHdr"/>
            </div>
          </span>
        </div>
      </div>
      <ng-container *ngIf="isEmbedded">
        <!-- Lookup Embedded version -->
        <div class='col-xs-1'>
          <span class='text-right'>{{ field.nameColHdr }}</span>
        </div>
        <div [ngClass]="getGroupClass('text_full_name')">
          <ng2-completer #ngCompleter [overrideSuggested]="!field.forceLookupOnly" [inputClass]="'form-control'" [placeholder]="field.vocabField.placeHolder" [clearUnselected]="field.forceLookupOnly" (selected)="onSelect($event)" [datasource]="field.vocabField.dataService" [minSearchLength]="0" [initialValue]="field.vocabField.initialValue"></ng2-completer>
          <div class="text-danger" *ngIf="field.formModel.controls['text_full_name'].hasError('required')">{{field.validationMessages.required.text_full_name}}</div>
        </div>
        <div class='col-xs-1'>
          <span class='text-right'>{{ field.emailColHdr }}</span>
        </div>
        <div [ngClass]="getGroupClass('email')">
          <input formControlName="email" type="text" class="form-control" [readOnly]="field.forceLookupOnly" [attr.aria-label]="field.emailColHdr"/>
          <div class="text-danger" *ngIf="field.formModel.controls['email'].touched && field.formModel.controls['email'].hasError('email')">{{field.validationMessages.invalid.email}}</div>
          <div class="text-danger" *ngIf="field.formModel.controls['email'].touched && field.formModel.controls['email'].hasError('required')">{{field.validationMessages.required.email}}</div>
        </div>
        <div class='col-xs-1'>
          <span class='text-right'>{{ field.orcidColHdr }}</span>
        </div>
        <div [ngClass]="getGroupClass('orcid')">
          <input formControlName="orcid" type="text" class="form-control" [attr.aria-label]="field.orcidColHdr" />
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
<div class="view-contributor" *ngIf="!field.editMode">
  <div class="row">
    <div class="col-xs-12 key-value-pair" *ngIf="field.label">
      <span class="key">
      {{ field.label }}
      </span>
    </div>
  </div>
  <div class="row view-contributor" *ngIf="field.showHeader">
    <div class="col-xs-3 label-font">{{field.nameColHdr}}</div>
    <div [attr.class]="field.showRole? 'col-xs-3':'col-xs-4'"><span class='label-font'>{{field.emailColHdr}}</span></div>
    <div [attr.class]="field.showRole? 'col-xs-3':'hidden'"><span class='label-font'>{{field.roleColHdr}}</span></div>
    <div [attr.class]="field.showRole? 'col-xs-3':'col-xs-4'"><span class='label-font'>{{field.orcidColHdr}}</span></div>
  </div>
  <div class="row view-contributor">
    <div class="col-xs-3">{{field.value.text_full_name}}</div>
    <div [attr.class]="field.showRole? 'col-xs-3':'col-xs-4'">{{field.value.email}}</div>
    <div [attr.class]="field.showRole? 'col-xs-3':'hidden'">{{field.value.role}}</div>
    <div [attr.class]="field.showRole? 'col-xs-3':'col-xs-4'">{{field.value.orcid}}</div>
  </div>
</div>
