<!-- Basic Uppy styles -->
<link rel="stylesheet" href="/node_modules/uppy/dist/uppy.min.css">
<div class='padding-bottom-10'>
  <label [attr.for]="field.name">
    {{field.label}} {{ getRequiredLabelStr()}}
    <button type="button" class="btn btn-default" *ngIf="field.help" (click)="toggleHelp()"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
  </label><br/>
  <div>
    <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th width="15%">Type of location</th>
          <th width="40%">Location</th>
          <th width="40%">Notes</th>
          <th width="5%" *ngIf="field.editMode"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataLocation of getDatalocations()">
          <td>{{ field.dataTypeLookup[dataLocation.type] }}</td>
          <td>
            <ng-container *ngIf="dataLocation && dataLocation.type != 'attachment'">
            {{ dataLocation.location }}
            </ng-container>
            <ng-container *ngIf="dataLocation.type == 'attachment'">
              <ng-container *ngIf="dataLocation.pending">
                {{ dataLocation.name }}
              </ng-container>
              <a *ngIf="!dataLocation.pending" href="{{ getAbsUrl(dataLocation.location) }}" target="_blank">
                {{ dataLocation.name }}
              </a>
            </ng-container>
          </td>
          <td>{{ dataLocation.notes }}</td>
          <td *ngIf="field.editMode">
            <a class="fa fa-minus-circle btn text-20 btn-danger" (click)="field.removeLocation(dataLocation)"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" *ngIf="field.editMode">
    <div class="col-xs-3">
      <label>Type of location</label>
    </div>
    <div class="col-xs-4">
      <label>Location</label>
    </div>
    <div class="col-xs-5">
      <label *ngIf="field.newLocation.type != 'attachment'">Notes</label>
    </div>

  </div>
  <div class="row" *ngIf="field.editMode">

    <div class="col-xs-3">
      <select [(ngModel)]="field.newLocation.type" [id]="field.newLocation.type" class="form-control">
         <option *ngFor="let opt of field.dataTypes" [value]="opt.value">{{opt.label}}</option>
      </select>
    </div>

    <div class="col-xs-4">
      <input [(ngModel)]="field.newLocation.location" *ngIf="field.newLocation.type != 'attachment'" type="text" class="form-control" />
      <a [class.disabled]="isAttachmentsDisabled()"
      class="btn btn-info UppyModalOpenerBtn"
      [style.display]="field.newLocation.type == 'attachment' ? 'inherit' : 'none'" (click)="openModal()">{{ field.attachmentText }}</a>
    </div>
    <div class="col-xs-4">
      <input [(ngModel)]="field.newLocation.notes"  *ngIf="field.newLocation.type != 'attachment'" type="text" class="form-control" />
    </div>
    <div class="col-xs-1">
      <a  *ngIf="field.newLocation.type != 'attachment'" class="fa fa-plus-circle btn text-20 pull-right btn-success" (click)="field.addLocation()"></a>
    </div>
  </div>
</div>
</div>
