<div class='padding-bottom-10'>
  <div *ngIf="field.editMode" [formGroup]='form' class="form-group">
  <label [attr.for]="field.name">
    {{field.label}} {{ getRequiredLabelStr()}}
    <button type="button" class="btn btn-default" *ngIf="field.help" (click)="toggleHelp()" [attr.aria-label]="'help' | translate "><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
  </label><br/>
  <span id="{{ 'helpBlock_' + field.name }}" class="help-block" *ngIf="this.helpShow" [innerHtml]="field.help"></span>

  <div leaflet style="height: 450px;"
       leafletDraw
       [leafletOptions]="field.leafletOptions"
       [leafletDrawOptions]="field.drawOptions"
       (leafletMapReady)="field.onMapReady($event)"
       [leafletLayersControl]="field.layersControl">
  </div>
  <div class='padding-top-10'>
  <div><label [attr.for]="field.name">Enter KML or GeoJSON</label><br/><textarea [id]="field.name" class="form-control" rows="5" [(ngModel)]="field.importDataString" [ngModelOptions]="{standalone: true}"></textarea></div>
  <div class="padding-top-10"><a class="btn btn-info" (click)="field.importData()">Import</a> <span *ngIf="field.importFailed" class="text-danger">Entered text is not a valid KML or GeoJSON</span></div>
</div>
</div>
</div>
<div *ngIf="!field.editMode">
  <div leaflet style="height: 450px;"
       [leafletOptions]="field.leafletOptions"
       (leafletMapReady)="field.onMapReady($event)"
       [leafletLayersControl]="field.layersControl">
  </div>
</div>
