<ng-container [ngSwitch]="formDefMap?.formConfig?.domElementType">
  <form *ngSwitchCase="'form'" [id]="formDefMap?.formConfig?.domId" >
    <ng-container [ngTemplateOutlet]="compsTemplate"></ng-container>
  </form>  
  <ng-container *ngSwitchDefault>
    <ng-container [ngTemplateOutlet]="compsTemplate"></ng-container>
</ng-container>
<ng-template #compsTemplate>
  <ng-container *ngFor="let component of components">
    <redbox-form-base-wrapper [model]="component.model" [componentClass]="component.layoutClass || component.componentClass" [formFieldCompMapEntry]="component" [defaultComponentConfig]="formDefMap?.formConfig?.defaultComponentConfig" (componentReady)="registerComponentReady(component)" [expressionStateChanged]="component.expressionStateChanged" ></redbox-form-base-wrapper>
  </ng-container>
</ng-template>
<ng-container *ngIf="components.length > 0 && formDefMap?.formConfig?.debugValue">
  <h3>Live Form Value</h3>
  <pre [innerHtml]="form?.value | json"></pre>
</ng-container>
<ng-container *ngIf="components.length > 0 && formDefMap?.formConfig?.debugValue">
  <h3>Form Status: {{ status() }}</h3>
</ng-container>