@if (isReady) {
  <div>
    <ng-container>
      @for (workflowStep of workflowSteps; track workflowStep) {
        <div>
          <div class="d-flex flex-row">
            @if (workflowSteps.length > 1 && (dashboardTypeSelected == 'standard' || dashboardTypeSelected == 'consolidated')) {
              <div class="col-md-4">
                <h2>{{ 'dashboard-heading' | i18next: {stage: workflowStep.config.workflow.stageLabel, recordTypeName: typeLabel} }}</h2>
              </div>
            }
            @if (workflowSteps.length == 1 && !hideWorkflowStepTitle && (dashboardTypeSelected == 'standard' || dashboardTypeSelected == 'consolidated')) {
              <div class="col-md-4">
                <h2>{{ 'dashboard-heading-one-step' | i18next: {recordTypeName: typeLabel} }}</h2>
              </div>
            }
            @if ((dashboardTypeSelected == 'standard' || dashboardTypeSelected == 'workspace') && (records[workflowStep.config.workflow.stage].totalItems > 0 || (records[workflowStep.config.workflow.stage].totalItems <= 0 && getFilterSearchDisplayed(workflowStep.config.workflow.stage)))) {
              <div class="col-md-8">
                <div class="d-flex flex-row mt-4">
                  <button class="btn btn-primary dropdown-toggle" type='button' data-bs-toggle="dropdown" aria-expanded="false" >Filter by {{ filterFieldName }}</button>
                  <ul class="dropdown-menu">
                    @for (filter of getTextFilters(); track filter) {
                      <li><a class="dropdown-item" href="#" (click)="setFilterField(filter, $event)">Filter by {{ filter.name }}</a></li>
                    }
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#" (click)="resetFilterAndSearch(workflowStep.config.workflow.stage, $event)">{{ 'record-search-reset' | i18next }}</a></li>
                  </ul>
                  <input type="text" class="form-control" [(ngModel)]="filterSearchString[workflowStep.config.workflow.stage]" placeholder="{{ 'record-search-basic-search-placeholder' | i18next}}" (keyup.enter)="filterChanged(workflowStep.config.workflow.stage)" aria-describedby="basic-search-addon" autofocus>
                  <button class="btn btn-primary" type='button' aria-expanded="false" [disabled]="getIsSearching(workflowStep.config.workflow.stage) || getFilterSearchString(workflowStep.config.workflow.stage) == ''" (click)="filterChanged(workflowStep.config.workflow.stage)">{{ 'record-search-basic-search' | i18next }}</button>
                </div>
              </div>
              <div class="col-md-4"></div>
            }
          </div>
          @if (records[workflowStep.config.workflow.stage] != null) {
            <div>
              @if (records[workflowStep.config.workflow.stage].totalItems <= 0) {
                <div class="padding-bottom-10" >
                  {{ 'no-records' | i18next: {stage: workflowStep.config.workflow.stageLabel.toLowerCase(), recordTypeName: typeLabel.toLowerCase()} }}
                </div>
              }
              @if (records[workflowStep.config.workflow.stage].totalItems > 0) {
                <div>
                  <table class="table">
                    <thead>
                      <tr>
                        @for (rowConfig of tableConfig[workflowStep.config.workflow.stage]; track rowConfig) {
                          <th>
                            @if (enableSort) {
                              <sort [title]="rowConfig.title | i18next" [variable]="rowConfig.variable" [step]="workflowStep.config.workflow.stage" [sort]="getSortStateFromSortMap(sortMap,workflowStep,rowConfig)" [secondarySort]="getSecondarySortStateFromSortMap(sortMap,workflowStep,rowConfig)" (sortChanged)="sortChanged($event)"> </sort>
                            }
                            @if (!enableSort) {
                              <span class="dashboard-heading-no-sort">{{rowConfig.title | i18next}}</span>
                            }
                          </th>
                        }
                      </tr>
                    </thead>
                    @for (plan of records[workflowStep.config.workflow.stage].items; track plan) {
                      <tbody>
                        <tr>@for (rowConfig of tableConfig[workflowStep.config.workflow.stage]; track rowConfig) {
                          <td [innerHtml]="plan[rowConfig.variable]"></td>
                        }</tr>
                      </tbody>
                    }
                  </table>
                  @if (records[workflowStep.config.workflow.stage].totalItems > 0) {
                    <pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="records[workflowStep.config.workflow.stage].totalItems"
                    [(ngModel)]="records[workflowStep.config.workflow.stage].currentPage" (pageChanged)="pageChanged($event,workflowStep.config.workflow.stage)" class="pagination-sm" [maxSize]="10"></pagination>
                  }
                </div>
              }
            </div>
          }
        </div>
      }
    </ng-container>
  </div>
}