<div *ngIf="isReady">
    <ng-container>
        <div *ngFor="let workflowStep of workflowSteps">
            <ng-container *ngIf="workflowStep?.config?.workflow?.stage as workflowStage;  true">
                <ng-container *ngIf="workflowStep?.config?.workflow?.stageLabel as workflowStageLabel; true">
            <h2 *ngIf="workflowSteps.length > 1 && (dashboardTypeSelected == 'standard' || dashboardTypeSelected == 'consolidated')" [innerHTML]="'dashboard-heading' | i18next: {stage: workflowStageLabel, recordTypeName: typeLabel}">
            </h2>
            <h2 *ngIf="workflowSteps.length == 1 && (dashboardTypeSelected == 'standard' || dashboardTypeSelected == 'consolidated')" [innerHTML]="'dashboard-heading-one-step' | i18next: {recordTypeName: typeLabel}">
            </h2>
            <div *ngIf="records.get(workflowStage) as workflowStageRecords; true">
                <div *ngIf="workflowStageRecords.totalItems <= 0" class="padding-bottom-10" [innerHTML]="'no-records' | i18next: {stage: workflowStageLabel.toLowerCase(), recordTypeName: typeLabel.toLowerCase()}">
                </div>
                <div *ngIf="workflowStageRecords.totalItems > 0">
                <table class="table">
                    <thead>
                    <tr>
                    <th *ngFor="let rowConfig of tableConfig.get(workflowStage)"> 
                            <ng-container *ngIf="rowConfig?.variable as columnVariable; true">
                                <sort [title]="rowConfig.title | i18next" [variable]="columnVariable" [step]="workflowStage" [sort]="sortMap.get(workflowStage)?.get(columnVariable)?.get('sort')" (sortChanged)="sortChanged($event)"> </sort>
                            </ng-container>
                    </th>
                    </tr>
                    </thead>
         
                    <tbody *ngFor="let plan of workflowStageRecords.items">
                    <tr>
                        <ng-container *ngFor="let rowConfig of tableConfig.get(workflowStage)">
                        <ng-container *ngIf="rowConfig?.variable as columnVariable; true">
                            <td  [innerHtml]="plan[columnVariable]"></td>
                        </ng-container>
                    </ng-container>
                    </tr>
                    </tbody>
                    
                </table>
                
                 <pagination *ngIf="workflowStageRecords.totalItems > 0" [directionLinks]="false" [boundaryLinks]="true" [totalItems]="workflowStageRecords.totalItems"
                            [(ngModel)]="workflowStageRecords.currentPage" (pageChanged)="pageChanged($event,workflowStage)" class="pagination-sm" [maxSize]="10"></pagination>
                        
                </div>

            </div>
        </ng-container>
    </ng-container>
        </div>
    </ng-container>
</div>