<div class="col-md-offset-2 col-md-8" *ngIf="!isLoading">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">
        {{ 'manage-users-title' | translate }}
      </span>
    </div>
    <div class="panel-body" style="overflow:scroll">
      <div class="row">
        <div class="col-sm-9">
          <div class="input-group">
            <span class="input-group-addon" id="name-addon">{{ 'manage-users-filter-name' | translate }}</span>
            <input type="text" (keyup)="onFilterChange()" [(ngModel)]="searchFilter.name" class="form-control" placeholder="{{ 'manage-users-filter-name-placeholder' | translate }}" [attr.aria-label]="'manage-users-filter-name' | translate">
            <span (click)="resetFilter()" class="input-group-btn"><button class="btn btn-primary" type='button'>Reset</button></span>
          </div>
        </div>
        <div class="col-sm-3">
            <span (click)="newUser()"><button class="btn btn-primary" type='button'>{{ 'manage-users-add-local' | translate }}</button></span>
        </div>
      </div>
      <div>
        <br/>
      </div>
      <div>
        <br/>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>{{ 'manage-users-name' | translate }}</th>
              <th>{{ 'manage-users-email' | translate }}</th>
              <th>{{ 'manage-users-role' | translate }}</th>
              <th>{{ 'manage-users-api' | translate }}</th>
              <th>{{ 'manage-users-action' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of filteredUsers">
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.roleStr}}</td>
              <td align="center">
                <i class="fa fa-check" aria-hidden="true" *ngIf="user.token"></i>
              </td>
              <td>
                <a style="cursor:pointer" (click)="editUser(user.username)">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- User Details Modal -->
<div *ngIf="isDetailsModalShown" [config]="{ show: true }" (onHidden)="onDetailsModalHidden()" bsModal #userDetailsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="hideDetailsModal()">&times;</button>
        <h4 class="modal-title">{{ 'manage-users-edit' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form id="detailsform" [formGroup]="updateUserForm" novalidate (ngSubmit)="updateUserSubmit(updateUserForm.value, updateUserForm.valid)">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr *ngIf="currentUser.type == 'local'">
                  <td>{{ 'manage-users-username' | translate }}</td>
                  <td>{{ currentUser.username }}</td>
                </tr>
                <tr>
                  <td>{{ 'manage-users-name' | translate }}</td>
                  <td *ngIf="currentUser.type == 'local'">
                    <input type="text" formControlName="name" class="form-control input-sm chat-input"/>
                    <div class='form-text error' *ngIf='updateUserForm.controls.name.touched || submitted'>
                        <div *ngIf="updateUserForm.controls.name.hasError('required')">{{ 'manage-users-validation-name' | translate }}</div>
                      </div>
                  </td>
                  <td *ngIf="currentUser.type != 'local'">{{currentUser.name}}</td>
                </tr>
                <tr>
                  <td>{{ 'manage-users-email' | translate }}</td>
                  <td *ngIf="currentUser.type == 'local'">
                      <input type="email" formControlName="email" class="form-control input-sm chat-input"/>
                      <div class='form-text error' *ngIf='updateUserForm.controls.email.touched || submitted'>
                          <div *ngIf="updateUserForm.controls.email.hasError('invalidEmail')">{{ 'manage-users-validation-email' | translate }}</div>
                        </div>
                  </td>
                  <td *ngIf="currentUser.type != 'local'">{{currentUser.email}}</td>
                </tr>
                <tr>
                  <td>{{ 'manage-users-password' | translate }}</td>
                  <td *ngIf="currentUser.type == 'local'">
                    <div formGroupName="passwords">
                        <input type="password" formControlName="password" class="form-control input-sm chat-input" placeholder="{{ 'manage-users-update-password' | translate }}"/>
                    </div>
                  </td>
                  <td *ngIf="currentUser.type != 'local'">{{ 'manage-users-aaf-password' | translate}}</td>
                </tr>
                <tr *ngIf="currentUser.type == 'local'">
                    <td>{{ 'manage-users-confirm-password' | translate }}</td>
                    <td>
                        <div formGroupName="passwords">
                          <input type="password" formControlName="confirmPassword" class="form-control input-sm chat-input" placeholder="Confirm Password"/>
                        </div>
                        <div class='form-text error' *ngIf="updateUserForm.controls.passwords.controls.confirmPassword.touched || submitted">
                            <div *ngIf="updateUserForm.controls.passwords.hasError('mismatched')">{{ 'manage-users-validation-confirmpassword' | translate }}</div>
                          </div>
                    </td>
                </tr>
                <tr>
                  <td>{{ 'manage-users-api' | translate }}</td>
                  <td *ngIf="!currentUser.token">
                    <button type="button" class="btn btn-primary" (click)="genKey(currentUser.id)">{{ 'manage-users-api-generate' | translate }}</button>
                  </td>
                  <td *ngIf="currentUser.token">
                      {{ currentUser.token }}<br />
                      <button type="button" class="btn btn-primary" (click)="revokeKey(currentUser.id)">{{ 'manage-users-api-revoke' | translate }}</button>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">{{ 'manage-roles-role' | translate }}</td>
                    <td class="col-md-8">
                        <div [formArrayName]="'allRoles'">
                            <div *ngFor="let role of updateUserForm.controls.allRoles.controls; let i = index;" [formGroup]="role">
                              <input type="checkbox" formControlName="checked" id="role_{{ role.controls.key.value }}">
                              <label attr.for="role_{{ role.controls.key.value }}">{{ role.controls.value.value }}</label>
                            </div>
                            <div class='form-text error' *ngIf="!updateUserForm.controls.roles.valid">
                                <div>{{ 'manage-users-validation-role' | translate }}</div>
                              </div>
                          </div>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </form>
        <div class="bg-{{updateDetailsMsgType}} center-block">{{updateDetailsMsg}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" form="detailsform" type="submit">{{ 'manage-users-save' | translate }}</button>
        <button type="button" class="btn btn-default" (click)="hideDetailsModal()">{{ 'manage-users-cancel' | translate }}</button>
      </div>
      </div>
      </div>
    </div>

<!-- New User Modal -->
<div *ngIf="isNewUserModalShown" [config]="{ show: true }" (onHidden)="onNewUserHidden()" bsModal #userNewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" (click)="hideNewUserModal()">&times;</button>
            <span class="modal-title h4-header">{{ 'manage-users-new' | translate }}</span>
          </div>
          <div class="modal-body">
          <form id="newform" [formGroup]="newUserForm" novalidate (ngSubmit)="newUserSubmit(newUserForm.value, newUserForm.valid)">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                        <td>{{ 'manage-users-username' | translate }}</td>
                        <td>
                            <input type="text" formControlName="username" class="form-control input-sm chat-input" placeholder="{{ 'manage-users-username' | translate }}" [attr.aria-label]="'manage-users-username' | translate"/>
                            <div class='form-text error' *ngIf='newUserForm.controls.username.touched || submitted'>
                                <div *ngIf="newUserForm.controls.username.hasError('required')">{{ 'manage-users-validation-username' | translate }}</div>
                              </div>
                        </td>
                    </tr>
                    <tr>
                      <td>{{ 'manage-users-name' | translate }}</td>
                      <td>
                          <input type="text" formControlName="name" class="form-control input-sm chat-input" placeholder="{{ 'manage-users-name' | translate }}" [attr.aria-label]="'manage-users-name' | translate "/>
                          <div class='form-text error' *ngIf='newUserForm.controls.name.touched || submitted'>
                              <div *ngIf="newUserForm.controls.name.hasError('required')">{{ 'manage-users-validation-name' | translate }}</div>
                            </div>
                      </td>
                    </tr>
                    <tr>
                      <td>{{ 'manage-users-email' | translate }}</td>
                      <td>
                          <input type="email" formControlName="email" class="form-control input-sm chat-input" placeholder="{{ 'manage-users-email' | translate }}" [attr.aria-label]="'manage-users-email' | translate"/>
                          <div class='form-text error' *ngIf='newUserForm.controls.email.touched || submitted'>
                              <div *ngIf="newUserForm.controls.email.hasError('invalidEmail')">{{ 'manage-users-validation-email' | translate }}</div>
                            </div>
                      </td>
                    </tr>
                    <tr>
                      <td>{{ 'manage-users-password' | translate }}</td>
                      <td>
                          <div formGroupName="passwords">
                              <input type="password" formControlName="password" class="form-control input-sm chat-input" placeholder="{{ 'manage-users-password' | translate }}" [attr.aria-label]="'manage-users-password' | translate "/>
                          </div>
                          <div class='form-text error' *ngIf="newUserForm.controls.passwords.controls.password.touched || submitted">
                              <div *ngIf="newUserForm.controls.passwords.controls.password.hasError('required')">{{ 'manage-users-validation-password' | translate }}</div>
                            </div>
                      </td>
                    </tr>
                    <tr>
                        <td>{{ 'manage-users-confirm-password' | translate }}</td>
                        <td>
                            <div formGroupName="passwords">
                                <input type="password" formControlName="confirmPassword" class="form-control input-sm chat-input" placeholder="{{ 'manage-users-confirm-password' | translate }}" [attr.aria-label]="'manage-users-confirm-password' | translate"/>
                              </div>
                              <div class='form-text error' *ngIf="newUserForm.controls.passwords.controls.confirmPassword.touched || submitted">
                                  <div *ngIf="newUserForm.controls.passwords.hasError('mismatched')">{{ 'manage-users-validation-confirmpassword' | translate }}</div>
                                </div>
                        </td>
                      </tr>
                      <tr>
                          <td class="col-md-2">{{ 'manage-roles-role' | translate }}</td>
                          <td class="col-md-8">
                              <div [formArrayName]="'allRoles'">
                                  <div *ngFor="let role of newUserForm.controls.allRoles.controls; let i = index;" [formGroup]="role">
                                    <input type="checkbox" formControlName="checked" id="role_{{ role.controls.key.value }}">
                                    <label attr.for="role_{{ role.controls.key.value }}">{{ role.controls.value.value }}</label>
                                  </div>
                                  <div class='form-text error' *ngIf="!newUserForm.controls.roles.valid">
                                      <div>{{ 'manage-users-validation-role' | translate }}</div>
                                    </div>
                                </div>
                          </td>
                        </tr>
                  </tbody>
                </table>
              </div>
            </form>
            <div class="bg-{{newUserMsgType}} center-block">{{newUserMsg}}</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" form="newform" type="submit">{{ 'manage-users-save' | translate }}</button>
            <button type="button" class="btn btn-default" (click)="hideNewUserModal()">{{ 'manage-users-cancel' | translate }}</button>
          </div>
          </div>
          </div>
        </div>
