version: '3.1'
networks:
  main:
services:
  redboxportal:
    # uncomment this if you are making changes to the Dockerfile
    # build: .
    image: qcifengineering/redbox-portal:develop
    ports:
      - "1500:1500"
      # Debugging port
      - "9876:9876"
    user: node
    volumes:
      - "../..:/opt/redbox-portal:delegated"
      - "./.dev/attachments:/attachments:delegated"
      - "./.dev/publication:/publication:delegated"
      - "./.dev/hooks:/opt/hooks:delegated"
    expose:
      - "1500"
      # Debugging port
      - "9876"
    environment:
      - NODE_ENV=docker
      - PORT=1500
      # For NG apps migrated NG 15 or above, if you are actively developing the front-end, then build your app manually, making sure you disable filename hashing, before you use the app.
      - sails_angularDev=true
      - sails_redbox__apiKey=c8e844fc-8550-497f-b970-7900ec8741ca
      - sails_record__baseUrl__redbox=http://redbox:9000/redbox
      - sails_record__baseUrl__mint=https://demo.redboxresearchdata.com.au/mint
      # When testing using the API
      # - sails_auth__default__local__default__token=d077835a-696b-4728-85cf-3ffd57152b1e
      # - sails_security__csrf=false
    # depends_on:
    #   keycloak:
    #     condition: service_healthy
    networks:
      main:
        aliases:
          - rbportal
    entrypoint: /bin/bash -c "cd /opt/redbox-portal && node --inspect=0.0.0.0:9876 app.js"
  mongodb:
    #image: mvertes/alpine-mongo:latest
    image: mongo:latest
    volumes:
      - "./devdata:/devdata:delegated"
      - "./.dev/mongo/data/db:/data/db:delegated"
      - "./.dev/log/mongo:/var/log/mongo:delegated"
    networks:
      main:
        aliases:
          - mongodb
    ports:
      - "27017:27017"
  solr:
    image: solr:latest
    expose:
      - "8983"
    ports:
      - "8983:8983"
    networks:
      main:
       aliases:
         - solr
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - redbox
  # keycloak:
  #   image: quay.io/keycloak/keycloak:17.0.1
  #   expose:
  #     - "8080"
  #   ports:
  #     - "8080:8080"
  #   # environment:
  #   #   - KEYCLOAK_ADMIN=admin
  #   #   - KEYCLOAK_ADMIN_PASSWORD=admin
  #   healthcheck:
  #     test: ["CMD-SHELL", "curl http://localhost:8080"]
  #     interval: 5s
  #     timeout: 5s
  #     retries: 10
  #   volumes:
  #     - "../integration-testing/keycloakdb/data:/opt/keycloak/data"
  #   networks:
  #     main:
  #      aliases:
  #        - keycloak
  #   command:
  #     - start-dev
