<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ReDBox Portal - NG2 Apps</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
        <link rel="stylesheet" href="../styles/postmark.css">
    </head>
    <body>
          <script>
               // Blocking script to avoid flickering dark mode
               // Dark mode toggle button
               var useDark = window.matchMedia('(prefers-color-scheme: dark)');
               var darkModeState = useDark.matches;
               var $darkModeToggleSwitchers = document.querySelectorAll('.dark-mode-switch input');
               var $darkModeToggles = document.querySelectorAll('.dark-mode-switch');
               var darkModeStateLocal = localStorage.getItem('compodoc_darkmode-state');

               function checkToggle(check) {
                    for (var i = 0; i < $darkModeToggleSwitchers.length; i++) {
                         $darkModeToggleSwitchers[i].checked = check;
                    }
               }

               function toggleDarkMode(state) {
                    if (window.localStorage) {
                         localStorage.setItem('compodoc_darkmode-state', state);
                    }

                    checkToggle(state);

                    const hasClass = document.body.classList.contains('dark');

                    if (state) {
                         for (var i = 0; i < $darkModeToggles.length; i++) {
                              $darkModeToggles[i].classList.add('dark');
                         }
                         if (!hasClass) {
                              document.body.classList.add('dark');
                         }
                    } else {
                         for (var i = 0; i < $darkModeToggles.length; i++) {
                              $darkModeToggles[i].classList.remove('dark');
                         }
                         if (hasClass) {
                              document.body.classList.remove('dark');
                         }
                    }
               }

               useDark.addEventListener('change', function (evt) {
                    toggleDarkMode(evt.matches);
               });
               if (darkModeStateLocal) {
                    darkModeState = darkModeStateLocal === 'true';
               }
               toggleDarkMode(darkModeState);
          </script>

        <div class="navbar navbar-default navbar-fixed-top d-md-none p-0">
               <div class="d-flex">
                    <a href="../" class="navbar-brand">ReDBox Portal - NG2 Apps</a>
                    <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
               </div>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="d-none d-md-block menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li class="breadcrumb-item">Components</li>
  <li class="breadcrumb-item"
  >
  AppConfigComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a href="#info" class="nav-link active"
                role="tab" id="info-tab" data-bs-toggle="tab" data-link="info">Info</a>
        </li>
        <li class="nav-item">
            <a href="#source" class="nav-link"
                role="tab" id="source-tab" data-bs-toggle="tab" data-link="source">Source</a>
        </li>
        <li class="nav-item">
            <a href="#templateData" class="nav-link"
                role="tab" id="templateData-tab" data-bs-toggle="tab" data-link="template">Template</a>
        </li>
        <li class="nav-item">
            <a href="#tree" class="nav-link"
                role="tab" id="tree-tab" data-bs-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>angular/projects/researchdatabox/app-config/src/app/app-config.component.ts</code>
</p>


    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        <p>Application Config  Component</p>

    </p>

    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
                    <code><a href="../components/BaseComponent.html" target="_self" >BaseComponent</a></code>
    </p>



<section data-compodoc="block-metadata">
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-config</code></td>
            </tr>






            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>./app-config.component.html</code></td>
            </tr>








        </tbody>
    </table>
</section>

    <section data-compodoc="block-index">
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#configKey" >configKey</a>
                            </li>
                            <li>
                                <a href="#fields" >fields</a>
                            </li>
                            <li>
                                <a href="#form" >form</a>
                            </li>
                            <li>
                                <a href="#formSaveSuccessful" >formSaveSuccessful</a>
                            </li>
                            <li>
                                <a href="#formSaveUnsuccessful" >formSaveUnsuccessful</a>
                            </li>
                            <li>
                                <a href="#formSaving" >formSaving</a>
                            </li>
                            <li>
                                <a href="#model" >model</a>
                            </li>
                            <li>
                                <a href="#window" >window</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#brandingAndPortalUrl" >brandingAndPortalUrl</a>
                            </li>
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#filterFn" >filterFn</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#initDependencies" >initDependencies</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#initSubject" >initSubject</a>
                            </li>
                            <li>
                                    <span class="modifier">Protected</span>
                                <a href="#isReady" >isReady</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Protected</span>
                                    <span class="modifier"></span>
                                    <span class="modifier">Async</span>
                                <a href="#initComponent" >initComponent</a>
                            </li>
                            <li>
                                <a href="#onSubmit" >onSubmit</a>
                            </li>
                            <li>
                                <a href="#getInitSubject" >getInitSubject</a>
                            </li>
                            <li>
                                <a href="#isInitializing" >isInitializing</a>
                            </li>
                            <li>
                                <a href="#ngOnInit" >ngOnInit</a>
                            </li>
                            <li>
                                    <span class="modifier">Async</span>
                                <a href="#waitForDeps" >waitForDeps</a>
                            </li>
                            <li>
                                    <span class="modifier">Async</span>
                                <a href="#waitForInit" >waitForInit</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section data-compodoc="block-constructor">
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(loggerService: <a href="../injectables/LoggerService.html" target="_self">LoggerService</a>, utilService: <a href="../injectables/UtilityService.html" target="_self">UtilityService</a>, fb: FormBuilder, document: Document, translationService: <a href="../injectables/TranslationService.html" target="_self">TranslationService</a>, appConfigService: <a href="../injectables/AppConfigService.html" target="_self">AppConfigService</a>, formlyJsonschema: FormlyJsonschema, elementRef: ElementRef)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="48" class="link-to-prism">angular/projects/researchdatabox/app-config/src/app/app-config.component.ts:48</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>loggerService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/LoggerService.html" target="_self" >LoggerService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>utilService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/UtilityService.html" target="_self" >UtilityService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>fb</td>
                                                  
                                                        <td>
                                                                    <code>FormBuilder</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>document</td>
                                                  
                                                        <td>
                                                                    <code>Document</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>translationService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/TranslationService.html" target="_self" >TranslationService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>appConfigService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/AppConfigService.html" target="_self" >AppConfigService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>formlyJsonschema</td>
                                                  
                                                        <td>
                                                                    <code>FormlyJsonschema</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>elementRef</td>
                                                  
                                                        <td>
                                                                    <code>ElementRef</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section data-compodoc="block-methods">
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="initComponent"></a>
                    <span class="name">
                            <span class="modifier">Protected</span>
                            <span class="modifier"></span>
                            <span class="modifier">Async</span>
                        <span ><b>initComponent</b></span>
                        <a href="#initComponent"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>initComponent()</code>
                </td>
            </tr>


                    <tr>
                        <td class="col-md-4">
                            <div class="io-line">Inherited from         <code><a href="../components/BaseComponent.html" target="_self" >BaseComponent</a></code>
</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in         <code><a href="../components/BaseComponent.html#source" target="_self" >BaseComponent:69</a></code>
</div>
                        </td>
                    </tr>


            <tr>
                <td class="col-md-4">

                        <div class="io-description">
                            <b>Returns : </b>    <code>Promise&lt;void&gt;</code>

                        </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onSubmit"></a>
                    <span class="name">
                        <span ><b>onSubmit</b></span>
                        <a href="#onSubmit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onSubmit(model: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                </td>
            </tr>


                    <tr>
                        <td class="col-md-4">
                            <div class="io-line">Defined in <a href="" data-line="87"
                                    class="link-to-prism">angular/projects/researchdatabox/app-config/src/app/app-config.component.ts:87</a></div>
                        </td>
                    </tr>


            <tr>
                <td class="col-md-4">

                            <div class="io-description">
                                <b>Parameters :</b>
                                
                                <table class="params">
                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                                <td>Type</td>
                                            <td>Optional</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                                <td>model</td>
                                            <td>
                                                            <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                            </td>

                                            <td>
                                                    No
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <div class="io-description">
                            <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                        </div>
                            <div class="io-description">
                                
                            </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="getInitSubject"></a>
                    <span class="name">
                        <span ><b>getInitSubject</b></span>
                        <a href="#getInitSubject"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>getInitSubject()</code>
                </td>
            </tr>


                    <tr>
                        <td class="col-md-4">
                            <div class="io-line">Inherited from         <code><a href="../components/BaseComponent.html" target="_self" >BaseComponent</a></code>
</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in         <code><a href="../components/BaseComponent.html#source" target="_self" >BaseComponent:71</a></code>
</div>
                        </td>
                    </tr>


            <tr>
                <td class="col-md-4">
                        <div class="io-description"><p>For those interested in the init from RXJS-land.</p>
<p>Note that it returns a BehaviorSubject instance, and will have an initial value of false, so process the return value as needed.</p>
</div>

                        <div class="io-description">
                            <b>Returns : </b>    <code>Subject&lt;any&gt;</code>

                        </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="isInitializing"></a>
                    <span class="name">
                        <span ><b>isInitializing</b></span>
                        <a href="#isInitializing"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>isInitializing()</code>
                </td>
            </tr>


                    <tr>
                        <td class="col-md-4">
                            <div class="io-line">Inherited from         <code><a href="../components/BaseComponent.html" target="_self" >BaseComponent</a></code>
</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in         <code><a href="../components/BaseComponent.html#source" target="_self" >BaseComponent:95</a></code>
</div>
                        </td>
                    </tr>


            <tr>
                <td class="col-md-4">
                        <div class="io-description"><p>Main flag to indicate the init status</p>
</div>

                        <div class="io-description">
                            <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                        </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <span ><b>ngOnInit</b></span>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


                    <tr>
                        <td class="col-md-4">
                            <div class="io-line">Inherited from         <code><a href="../components/BaseComponent.html" target="_self" >BaseComponent</a></code>
</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in         <code><a href="../components/BaseComponent.html#source" target="_self" >BaseComponent:50</a></code>
</div>
                        </td>
                    </tr>


            <tr>
                <td class="col-md-4">
                        <div class="io-description"><p>See <a href="https://angular.io/api/core/OnInit">https://angular.io/api/core/OnInit</a></p>
</div>

                        <div class="io-description">
                            <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                        </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="waitForDeps"></a>
                    <span class="name">
                            <span class="modifier">Async</span>
                        <span ><b>waitForDeps</b></span>
                        <a href="#waitForDeps"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>waitForDeps()</code>
                </td>
            </tr>


                    <tr>
                        <td class="col-md-4">
                            <div class="io-line">Inherited from         <code><a href="../components/BaseComponent.html" target="_self" >BaseComponent</a></code>
</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in         <code><a href="../components/BaseComponent.html#source" target="_self" >BaseComponent:78</a></code>
</div>
                        </td>
                    </tr>


            <tr>
                <td class="col-md-4">
                        <div class="io-description"><p>Wait for dependencies to initialise</p>
</div>

                        <div class="io-description">
                            <b>Returns : </b>    <code>Promise&lt;any&gt;</code>

                        </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="waitForInit"></a>
                    <span class="name">
                            <span class="modifier">Async</span>
                        <span ><b>waitForInit</b></span>
                        <a href="#waitForInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                        <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>waitForInit()</code>
                </td>
            </tr>


                    <tr>
                        <td class="col-md-4">
                            <div class="io-line">Inherited from         <code><a href="../components/BaseComponent.html" target="_self" >BaseComponent</a></code>
</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in         <code><a href="../components/BaseComponent.html#source" target="_self" >BaseComponent:89</a></code>
</div>
                        </td>
                    </tr>


            <tr>
                <td class="col-md-4">
                        <div class="io-description"><p>For those interested in the init from the Promise-land</p>
</div>

                        <div class="io-description">
                            <b>Returns : </b>    <code>Promise&lt;any&gt;</code>

                        </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section data-compodoc="block-properties">
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="configKey"></a>
                    <span class="name">
                        <span ><b>configKey</b></span>
                        <a href="#configKey"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="45" class="link-to-prism">angular/projects/researchdatabox/app-config/src/app/app-config.component.ts:45</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="fields"></a>
                    <span class="name">
                        <span ><b>fields</b></span>
                        <a href="#fields"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>FormlyFieldConfig[]</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>[
   
  ]</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="42" class="link-to-prism">angular/projects/researchdatabox/app-config/src/app/app-config.component.ts:42</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="form"></a>
                    <span class="name">
                        <span ><b>form</b></span>
                        <a href="#form"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>new FormGroup({})</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="40" class="link-to-prism">angular/projects/researchdatabox/app-config/src/app/app-config.component.ts:40</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="formSaveSuccessful"></a>
                    <span class="name">
                        <span ><b>formSaveSuccessful</b></span>
                        <a href="#formSaveSuccessful"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>false</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="47" class="link-to-prism">angular/projects/researchdatabox/app-config/src/app/app-config.component.ts:47</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="formSaveUnsuccessful"></a>
                    <span class="name">
                        <span ><b>formSaveUnsuccessful</b></span>
                        <a href="#formSaveUnsuccessful"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>false</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="48" class="link-to-prism">angular/projects/researchdatabox/app-config/src/app/app-config.component.ts:48</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="formSaving"></a>
                    <span class="name">
                        <span ><b>formSaving</b></span>
                        <a href="#formSaving"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>false</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="46" class="link-to-prism">angular/projects/researchdatabox/app-config/src/app/app-config.component.ts:46</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="model"></a>
                    <span class="name">
                        <span ><b>model</b></span>
                        <a href="#model"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/object" target="_blank" >object</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>{}</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="41" class="link-to-prism">angular/projects/researchdatabox/app-config/src/app/app-config.component.ts:41</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="window"></a>
                    <span class="name">
                        <span ><b>window</b></span>
                        <a href="#window"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="39" class="link-to-prism">angular/projects/researchdatabox/app-config/src/app/app-config.component.ts:39</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="brandingAndPortalUrl"></a>
                    <span class="name">
                            <span class="modifier">Protected</span>
                        <span ><b>brandingAndPortalUrl</b></span>
                        <a href="#brandingAndPortalUrl"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;&#x27;</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Inherited from         <code><a href="../components/BaseComponent.html" target="_self" >BaseComponent</a></code>
</div>
                            </td>
                        </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in         <code><a href="../components/BaseComponent.html#source" target="_self" >BaseComponent:42</a></code>
</div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="filterFn"></a>
                    <span class="name">
                            <span class="modifier">Private</span>
                        <span ><b>filterFn</b></span>
                        <a href="#filterFn"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>function(initStat: boolean) { return initStat; }</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Inherited from         <code><a href="../components/BaseComponent.html" target="_self" >BaseComponent</a></code>
</div>
                            </td>
                        </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in         <code><a href="../components/BaseComponent.html#source" target="_self" >BaseComponent:40</a></code>
</div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="initDependencies"></a>
                    <span class="name">
                            <span class="modifier">Protected</span>
                        <span ><b>initDependencies</b></span>
                        <a href="#initDependencies"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../interfaces/Initable.html" target="_self" >Initable[]</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>[]</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Inherited from         <code><a href="../components/BaseComponent.html" target="_self" >BaseComponent</a></code>
</div>
                            </td>
                        </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in         <code><a href="../components/BaseComponent.html#source" target="_self" >BaseComponent:39</a></code>
</div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="initSubject"></a>
                    <span class="name">
                            <span class="modifier">Protected</span>
                        <span ><b>initSubject</b></span>
                        <a href="#initSubject"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>BehaviorSubject&lt;any&gt;</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>new BehaviorSubject(false)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Inherited from         <code><a href="../components/BaseComponent.html" target="_self" >BaseComponent</a></code>
</div>
                            </td>
                        </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in         <code><a href="../components/BaseComponent.html#source" target="_self" >BaseComponent:38</a></code>
</div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="isReady"></a>
                    <span class="name">
                            <span class="modifier">Protected</span>
                        <span ><b>isReady</b></span>
                        <a href="#isReady"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>false</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Inherited from         <code><a href="../components/BaseComponent.html" target="_self" >BaseComponent</a></code>
</div>
                            </td>
                        </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in         <code><a href="../components/BaseComponent.html#source" target="_self" >BaseComponent:37</a></code>
</div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, ElementRef, Inject } from &#x27;@angular/core&#x27;;
import { FormGroup, Validators, FormBuilder } from &#x27;@angular/forms&#x27;;
import { DOCUMENT } from &quot;@angular/common&quot;
import { BaseComponent, UtilityService, LoggerService, TranslationService, AppConfigService } from &#x27;@researchdatabox/portal-ng-common&#x27;;
import { FormlyFieldConfig } from &#x27;@ngx-formly/core&#x27;;
import { FormlyJsonschema } from &#x27;@ngx-formly/core/json-schema&#x27;;
import { JSONSchema7 } from &#x27;json-schema&#x27;;
import { AppConfig } from &#x27;projects/researchdatabox/portal-ng-common/src/public-api&#x27;;
import { clone as _clone } from &#x27;lodash&#x27;
/**
 * Application Config  Component
 *
 */
@Component({
  selector: &#x27;app-config&#x27;,
  templateUrl: &#x27;./app-config.component.html&#x27;
})
export class AppConfigComponent extends BaseComponent {

  window: any;
  form &#x3D; new FormGroup({});
  model &#x3D; {};
  fields: FormlyFieldConfig[] &#x3D; [
   
  ];
  configKey: any;
  formSaving: boolean &#x3D; false;
  formSaveSuccessful: boolean &#x3D; false;
  formSaveUnsuccessful: boolean &#x3D; false;


  constructor(
    @Inject(LoggerService) private loggerService: LoggerService,
    @Inject(UtilityService) protected utilService: UtilityService,
    @Inject(FormBuilder) private fb: FormBuilder,
    @Inject(DOCUMENT) private document: Document,
    @Inject(TranslationService) private translationService: TranslationService,
    @Inject(AppConfigService) private appConfigService: AppConfigService,
    private formlyJsonschema: FormlyJsonschema,
    @Inject(ElementRef) elementRef: ElementRef
  ) {
    super();
    this.loggerService.debug(&#x60;AppConfig waiting for deps to init...&#x60;);
    this.window &#x3D; this.document.defaultView;
    // set this component&#x27;s dependencies
    this.configKey &#x3D; elementRef.nativeElement.getAttribute(&#x27;configKey&#x27;);
    this.initDependencies &#x3D; [translationService, appConfigService];
  }

  protected override async initComponent(): Promise&lt;void&gt; {
    let result: AppConfig &#x3D; await this.appConfigService.getAppConfigForm(this.configKey)
    const jsonObject: JSONSchema7 &#x3D; result.schema as JSONSchema7;
    const fieldOrder &#x3D; result.fieldOrder;
    let originalProperties &#x3D; _clone(jsonObject.properties);
    jsonObject.properties &#x3D; {};
    for (let field of fieldOrder) {
      if (originalProperties) {
        jsonObject.properties[field] &#x3D; originalProperties[field];
      }
    }

    this.fields &#x3D; [this.formlyJsonschema.toFieldConfig(jsonObject)]
    this.model &#x3D; result.model;
    this.loggerService.debug(&#x60;AppConfig initialised.&#x60;);
  }


  onSubmit(model: any) {
    this.formSaving &#x3D; true;
    this.formSaveUnsuccessful &#x3D; false;
    this.formSaveSuccessful &#x3D; false;
    this.appConfigService.saveAppConfig(this.configKey, model).then((result: AppConfig) &#x3D;&gt; {
      this.formSaveSuccessful &#x3D; true;
      setTimeout(() &#x3D;&gt; {
        this.formSaveSuccessful &#x3D; false;
      }, 3000);
      this.formSaving &#x3D; false;
    }).catch((error: any) &#x3D;&gt; {
      this.formSaveSuccessful &#x3D; false;
      this.formSaveUnsuccessful &#x3D; true;
      this.formSaving &#x3D; false;
    });
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="templateData">
        <pre class="line-numbers"><code class="language-html">&lt;!-- ngIf is needed so init completes and view has all the information it needs --&gt;
&lt;ng-container *ngIf&#x3D;&quot;isReady&quot;&gt; 
  &lt;form [formGroup]&#x3D;&quot;form&quot; (ngSubmit)&#x3D;&quot;onSubmit(model)&quot;&gt;
    &lt;formly-form [form]&#x3D;&quot;form&quot; [fields]&#x3D;&quot;fields&quot; [model]&#x3D;&quot;model&quot;&gt;&lt;/formly-form&gt;
    &lt;button type&#x3D;&quot;submit&quot; class&#x3D;&quot;btn btn-default&quot;&gt;Submit&lt;/button&gt;
  &lt;/form&gt;
  &lt;p class&#x3D;&quot;alert-info text-16 padding-10 mt-2&quot; *ngIf&#x3D;&quot;formSaving&quot;&gt;Configuration is being saved &lt;i class&#x3D;&quot;fa fa-spinner fa-pulse fa-1x fa-fw&quot;&gt;&lt;/i&gt;&lt;/p&gt;
  &lt;p class&#x3D;&quot;alert-success text-16 padding-10 mt-2&quot; *ngIf&#x3D;&quot;formSaveSuccessful&quot;&gt;Configuration saved successfully&lt;/p&gt;
  &lt;p class&#x3D;&quot;alert-danger text-16 padding-10 mt-2&quot; *ngIf&#x3D;&quot;formSaveUnsuccessful&quot;&gt;Configuration failed to save. Please try again.&lt;/p&gt;
&lt;/ng-container&gt;</code></pre>
    </div>


    <div class="tab-pane fade " id="tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><!-- ngIf is needed so init completes and view has all the information it needs --><ng-container *ngIf="isReady">   <form [formGroup]="form" (ngSubmit)="onSubmit(model)">    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>    <button type="submit" class="btn btn-default">Submit</button>  </form>  <p class="alert-info text-16 padding-10 mt-2" *ngIf="formSaving">Configuration is being saved <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></p>  <p class="alert-success text-16 padding-10 mt-2" *ngIf="formSaveSuccessful">Configuration saved successfully</p>  <p class="alert-danger text-16 padding-10 mt-2" *ngIf="formSaveUnsuccessful">Configuration failed to save. Please try again.</p></ng-container></div>'
    var COMPONENTS = [{'name': 'AppConfigComponent', 'selector': 'app-config'},{'name': 'ArrayTypeComponent', 'selector': 'formly-array-type'},{'name': 'BaseComponent', 'selector': ''},{'name': 'DashboardComponent', 'selector': 'dashboard'},{'name': 'ExportComponent', 'selector': 'export'},{'name': 'FormBaseComponent', 'selector': ''},{'name': 'FormComponent', 'selector': 'redbox-form'},{'name': 'FormFieldWrapperComponent', 'selector': 'redbox-form-field'},{'name': 'LocalAuthComponent', 'selector': 'local-auth'},{'name': 'ManageRolesComponent', 'selector': 'manage-roles'},{'name': 'ManageUsersComponent', 'selector': 'manage-users'},{'name': 'ObjectTypeComponent', 'selector': 'formly-object-type'},{'name': 'RecordTableComponent', 'selector': 'record-table'},{'name': 'ReportComponent', 'selector': 'report'},{'name': 'SortComponent', 'selector': 'sort'},{'name': 'TextAreaComponent', 'selector': 'formly-textarea-type'},{'name': 'TextFieldComponent', 'selector': 'textfield'}];
    var DIRECTIVES = [{'name': 'FormFieldWrapperDirective', 'selector': '[formFieldComp]'}];
    var ACTUAL_COMPONENT = {'name': 'AppConfigComponent'};
</script>
<script src="../js/tree.js"></script>

















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'AppConfigComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script>
               $darkModeToggleSwitchers = document.querySelectorAll('.dark-mode-switch input');
               checkToggle(darkModeState);
               if ($darkModeToggleSwitchers.length > 0) {
                    for (var i = 0; i < $darkModeToggleSwitchers.length; i++) {
                         $darkModeToggleSwitchers[i].addEventListener('change', function (event) {
                              darkModeState = !darkModeState;
                              toggleDarkMode(darkModeState);
                         });
                    }
               }
          </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
