<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ReDBox Portal - NG2 Apps</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
        <link rel="stylesheet" href="../styles/postmark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">ReDBox Portal - NG2 Apps</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content class">
                   <div class="content-data">












<ol class="breadcrumb">
  <li>Classes</li>
  <li >MintLookupDataService</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info">
        <p class="comment">
            <h3>File</h3>
        </p>
        <p class="comment">
            <code>angular/shared/form/field-vocab.component.ts</code>
        </p>



            <p class="comment">
                <h3>Extends</h3>
            </p>
            <p class="comment">
                    <code>Subject</code>
            </p>

            <p class="comment">
                <h3>Implements</h3>
            </p>
            <p class="comment">
                        <code>CompleterData</code>
            </p>


            <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#searchFields" >searchFields</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#cancel" >cancel</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#convertToItem" >convertToItem</a>
                            </li>
                            <li>
                                <a href="#getCompleterDescription" >getCompleterDescription</a>
                            </li>
                            <li>
                                <a href="#getTitle" >getTitle</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#search" >search</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

            <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(url: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>, http: Http, fields: string[], compositeTitleName: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>, titleFieldArr: string[], titleFieldDelim: any[], titleCompleterDescription: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>, searchFieldStr: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>, unflattenFlag: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank">boolean</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="363" class="link-to-prism">angular/shared/form/field-vocab.component.ts:363</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>url</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>http</td>
                                                  
                                                        <td>
                                                                    <code>Http</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>fields</td>
                                                  
                                                        <td>
                                                                    <code>string[]</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>compositeTitleName</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>titleFieldArr</td>
                                                  
                                                        <td>
                                                                    <code>string[]</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>titleFieldDelim</td>
                                                  
                                                        <td>
                                                                    <code>any[]</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>titleCompleterDescription</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>searchFieldStr</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>unflattenFlag</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>

            <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="searchFields"></a>
                    <span class="name">
                        <span ><b>searchFields</b></span>
                        <a href="#searchFields"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>any[]</code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="363" class="link-to-prism">angular/shared/form/field-vocab.component.ts:363</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

            <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="cancel"></a>
                    <span class="name">
                        <span class="modifier">Public</span>
                        <span ><b>cancel</b></span>
                        <a href="#cancel"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>cancel()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="396"
                            class="link-to-prism">angular/shared/form/field-vocab.component.ts:396</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="convertToItem"></a>
                    <span class="name">
                        <span class="modifier">Public</span>
                        <span ><b>convertToItem</b></span>
                        <a href="#convertToItem"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>convertToItem(data: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="400"
                            class="link-to-prism">angular/shared/form/field-vocab.component.ts:400</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>data</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>    <code>CompleterItem | null</code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="getCompleterDescription"></a>
                    <span class="name">
                        <span ><b>getCompleterDescription</b></span>
                        <a href="#getCompleterDescription"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>getCompleterDescription(data: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="427"
                            class="link-to-prism">angular/shared/form/field-vocab.component.ts:427</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>data</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="getTitle"></a>
                    <span class="name">
                        <span ><b>getTitle</b></span>
                        <a href="#getTitle"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>getTitle(data: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="444"
                            class="link-to-prism">angular/shared/form/field-vocab.component.ts:444</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>data</td>
                                    <td>
                                                <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="search"></a>
                    <span class="name">
                        <span class="modifier">Public</span>
                        <span ><b>search</b></span>
                        <a href="#search"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>search(term: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="378"
                            class="link-to-prism">angular/shared/form/field-vocab.component.ts:378</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>term</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>





    </div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Input, Component, Injectable, Inject, OnInit, Output, EventEmitter, ElementRef, ViewChild } from &#x27;@angular/core&#x27;;
import { SimpleComponent } from &#x27;./field-simple.component&#x27;;
import { FieldBase } from &#x27;./field-base&#x27;;
import { FormGroup, FormControl, Validators } from &#x27;@angular/forms&#x27;;
import * as _ from &quot;lodash&quot;;
import { Observable } from &#x27;rxjs&#x27;;
import { Subject } from &quot;rxjs/Subject&quot;;
import &#x27;rxjs/add/operator/toPromise&#x27;;
import &#x27;rxjs/add/observable/of&#x27;;
import &#x27;rxjs/add/operator/map&#x27;
import { Http } from &#x27;@angular/http&#x27;;
import { BaseService } from &#x27;../base-service&#x27;;
import { CompleterService, CompleterData, CompleterItem } from &#x27;ng2-completer&#x27;;
import { ConfigService } from &#x27;../config-service&#x27;;
import * as luceneEscapeQuery from &quot;lucene-escape-query&quot;;
import { TranslationService } from &#x27;../translation-service&#x27;;
/**
 * Vocabulary Field
 *
 * Author: &lt;a href&#x3D;&#x27;https://github.com/shilob&#x27; target&#x3D;&#x27;_blank&#x27;&gt;Shilo Banihit&lt;/a&gt;
 *
 */
export class VocabField extends FieldBase&lt;any&gt; {
  public searchStr: any;
  public vocabId: string;
  public sourceData: any;
  public completerService: CompleterService;
  public dataService: CompleterData;
  public initialValue: any;
  public titleFieldName: string;
  public titleFieldArr: string[];
  public titleFieldDelim: any;
  public titleCompleterDescription: string;
  public searchFields: string;
  public fieldNames: any[];
  public sourceType: string;
  public lookupService: any;
  public placeHolder: string;
  public disableEditAfterSelect: boolean;
  public stringLabelToField: string;
  public component: any;
  public restrictToSelection: boolean;
  public storeLabelOnly: boolean;
  public provider: string;
  public resultArrayProperty: string;
  public unflattenFlag: boolean;
  public dontEmitEventOnLoad: boolean;
  public isEmbedded: boolean;
  public groupClass: string;
  public inputClass: string;

  @Output() onItemSelect: EventEmitter&lt;any&gt; &#x3D; new EventEmitter&lt;any&gt;();

  constructor(options: any, injector: any) {
    super(options, injector);
    this.clName &#x3D; &#x27;VocabField&#x27;;
    this.hasLookup &#x3D; true;
    this.vocabId &#x3D; options[&#x27;vocabId&#x27;] || &#x27;&#x27;;
    this.controlType &#x3D; &#x27;textbox&#x27;;
    this.titleFieldName &#x3D; options[&#x27;titleFieldName&#x27;] || &#x27;title&#x27;;
    this.titleFieldArr &#x3D; options[&#x27;titleFieldArr&#x27;] || [];
    this.searchFields &#x3D; options[&#x27;searchFields&#x27;] || &#x27;&#x27;;
    this.titleFieldDelim &#x3D; options[&#x27;titleFieldDelim&#x27;] || &#x27; - &#x27;;
    this.titleCompleterDescription &#x3D; options[&#x27;titleCompleterDescription&#x27;] || &#x27;&#x27;;
    this.fieldNames &#x3D; options[&#x27;fieldNames&#x27;] || [];
    this.sourceType &#x3D; options[&#x27;sourceType&#x27;] || &#x27;vocab&#x27;;
    this.placeHolder &#x3D; options[&#x27;placeHolder&#x27;] || &#x27;Select a valid value&#x27;;
    this.placeHolder &#x3D; this.translationService.t(this.placeHolder);
    this.disableEditAfterSelect &#x3D; options[&#x27;disableEditAfterSelect&#x27;] &#x3D;&#x3D; undefined ? true : options[&#x27;disableEditAfterSelect&#x27;];
    this.stringLabelToField &#x3D; options[&#x27;stringLabelToField&#x27;] ? options[&#x27;stringLabelToField&#x27;] : &#x27;dc_title&#x27;;
    this.restrictToSelection &#x3D; _.isUndefined(options[&#x27;restrictToSelection&#x27;]) ? (_.isUndefined(options[&#x27;forceLookupOnly&#x27;]) ? false : options[&#x27;forceLookupOnly&#x27;]) : options[&#x27;restrictToSelection&#x27;];
    this.storeLabelOnly &#x3D; options[&#x27;storeLabelOnly&#x27;] ? options[&#x27;storeLabelOnly&#x27;] : false;
    this.provider &#x3D; options[&#x27;provider&#x27;] ? options[&#x27;provider&#x27;] : &#x27;&#x27;;
    this.resultArrayProperty &#x3D; options[&#x27;resultArrayProperty&#x27;] ? options[&#x27;resultArrayProperty&#x27;] : &#x27;&#x27;;
    this.unflattenFlag &#x3D; _.isUndefined(options[&#x27;unflattenFlag&#x27;]) ? false : options[&#x27;unflattenFlag&#x27;];
    this.dontEmitEventOnLoad &#x3D; _.isUndefined(options[&#x27;dontEmitEventOnLoad&#x27;]) ? false : options[&#x27;dontEmitEventOnLoad&#x27;];
    this.groupClasses &#x3D; _.isUndefined(options[&#x27;groupClasses&#x27;]) ? &#x27;&#x27; : options[&#x27;groupClasses&#x27;];
    this.cssClasses &#x3D; _.isUndefined(options[&#x27;cssClasses&#x27;]) ? &#x27;&#x27; : options[&#x27;cssClasses&#x27;];
  }

  createFormModel(valueElem: any &#x3D; undefined, createFormGroup: boolean &#x3D; false) {
    if (valueElem) {
      this.value &#x3D; valueElem;
    }
    if (createFormGroup) {
      const flds &#x3D; {};
      _.forEach(this.fieldNames, fld &#x3D;&gt; {
        _.forOwn(fld, (srcFld, targetFld) &#x3D;&gt; {
          flds[targetFld] &#x3D; new FormControl(this.value[targetFld] || &#x27;&#x27;);
        });
      });
      this.formModel &#x3D; new FormGroup(flds);
    } else {
      this.formModel &#x3D; new FormControl(this.value || &#x27;&#x27;);
    }
    if (this.value) {
      if (!_.isString(this.value)) {
        const init &#x3D; _.cloneDeep(this.value);
        init.title &#x3D; this.getTitle(this.value);
        this.initialValue &#x3D; init;
      } else {
        let init &#x3D; {};
        init[&#x27;title&#x27;] &#x3D; this.value;
        init[this.stringLabelToField] &#x3D; this.value;
        this.initialValue &#x3D; init;
      }

    }

    if (this.required) {
      this.formModel.setValidators([Validators.required]);
    }
    return this.formModel;
  }

  public reactEvent(eventName: string, eventData: any, origData: any) {
    let selected &#x3D; {};
    selected[&#x27;originalObject&#x27;] &#x3D; eventData;
    this.component.onSelect(selected, false, true);
    super.reactEvent(eventName, eventData, origData);
  }

  postInit(value: any) {
    if (value) {
      this.value &#x3D; value;
    } else {
      this.setEmptyValue();
    }
    this.initLookupData();
  }

  setEmptyValue(updateTitle: boolean &#x3D; false) {
    this.value &#x3D; null;
    if (this.formModel) {
      this.formModel.setValue(null, { emitEvent: true });
    }
    if (updateTitle &amp;&amp; this.component &amp;&amp; this.component.ngCompleter) {
      this.component.ngCompleter.ctrInput.nativeElement.value &#x3D; null;
    }
    return this.value;
  }

  setLookupServices(completerService: any, lookupService: any) {
    this.completerService &#x3D; completerService;
    this.lookupService &#x3D; lookupService;
  }

  initLookupData() {
    if (this.sourceType &#x3D;&#x3D; &quot;vocab&quot;) {
      // Hack for creating the intended title...
      _.forEach(this.sourceData, (data: any) &#x3D;&gt; {
        data.title &#x3D; this.getTitle(data);
      });
      this.dataService &#x3D; this.completerService.local(this.sourceData, this.searchFields, &#x27;title&#x27;);
    } else if (this.sourceType &#x3D;&#x3D; &quot;collection&quot; || this.sourceType &#x3D;&#x3D; &quot;user&quot;) {
      let url &#x3D; this.lookupService.getCollectionRootUrl(this.vocabId);
      if (this.sourceType &#x3D;&#x3D; &quot;user&quot;) {
        url &#x3D; this.lookupService.getUserLookupUrl();
      }
      console.log(&#x60;Using: ${url}&#x60;);
      // at the moment, multiple titles arrays are not supported
      // TODO: consider replacing with ngx-bootstrap typeahead
      const title &#x3D; this.titleFieldArr.length &#x3D;&#x3D; 1 ? this.titleFieldArr[0] : &#x27;title&#x27;;
      console.log(&#x60;Using title: ${title}&#x60;);
      this.dataService &#x3D; this.completerService.remote(url, this.searchFields, title);
    } else if (this.sourceType &#x3D;&#x3D; &quot;mint&quot;) {
      const url &#x3D; this.lookupService.getMintRootUrl(this.vocabId);
      console.log(&#x60;Using: ${url}&#x60;);

      this.dataService &#x3D; new MintLookupDataService(
        url,
        this.lookupService.http,
        this.fieldNames,
        this.titleFieldName,
        this.titleFieldArr,
        this.titleFieldDelim,
        this.titleCompleterDescription,
        this.searchFields,
        this.unflattenFlag);
    } else if (this.sourceType &#x3D;&#x3D; &quot;external&quot;) {
      const url &#x3D; this.lookupService.getExternalServiceUrl(this.provider);
      this.dataService &#x3D; new ExternalLookupDataService(
        url,
        this.lookupService.http,
        this.resultArrayProperty,
        this.titleFieldName,
        this.titleFieldArr,
        this.titleFieldDelim
      );
    }

  }

  public getTitle(data: any): string {
    let title &#x3D; &#x27;&#x27;;
    if (data) {
      if (_.isString(data)) {
        return data;
      }
      if (_.isString(this.titleFieldDelim)) {
        _.forEach(this.titleFieldArr, (titleFld: string) &#x3D;&gt; {
          const titleVal &#x3D; data[titleFld];
          if (titleVal) {
            title &#x3D; &#x60;${title}${_.isEmpty(title) ? &#x27;&#x27; : this.titleFieldDelim}${titleVal}&#x60;;
          }
        });
      } else {
        // expecting a delim pair array, &#x27;prefix&#x27;, &#x27;suffix&#x27;
        _.forEach(this.titleFieldArr, (titleFld: string, idx) &#x3D;&gt; {
          const delimPair &#x3D; this.titleFieldDelim[idx];
          const titleVal &#x3D; data[titleFld];
          if (titleVal) {
            title &#x3D; &#x60;${title}${_.isEmpty(title) ? &#x27;&#x27; : delimPair.prefix}${titleVal}${_.isEmpty(title) ? &#x27;&#x27; : delimPair.suffix}&#x60;;
          }
        });
      }
    }
    return title;
  }

  public getValue(data: any) {
    const valObj &#x3D; {};
    if (!_.isUndefined(data) &amp;&amp; !_.isEmpty(data)) {
      if (_.isString(data)) {
        console.log(&#x60;Data is string...&#x60;)
        if (this.storeLabelOnly) {
          return data;
        } else {
          valObj[this.stringLabelToField] &#x3D; data;
        }
        return valObj;
      }

      _.forEach(this.fieldNames, (fldName: any) &#x3D;&gt; {
        if (data.originalObject) {
          this.getFieldValuePair(fldName, data.originalObject, valObj)
        } else {
          this.getFieldValuePair(fldName, data, valObj)
        }
      });

    }
    return valObj;
  }

  public getFieldValuePair(fldName: any, data: any, valObj: any) {
    if (_.isString(fldName)) {
      valObj[fldName] &#x3D; _.get(data, fldName);
    } else {
      // expects a value pair
      _.forOwn(fldName, (srcFld, targetFld) &#x3D;&gt; {
        if (_.get(data, srcFld)) {
          valObj[targetFld] &#x3D; _.get(data, srcFld);
        } else {
          valObj[targetFld] &#x3D; _.get(data, targetFld);
        }
      });
    }
  }

  public setValue(value: any, emitEvent: boolean &#x3D; true, updateTitle: boolean &#x3D; true) {
    this.formModel.setValue(value, { emitEvent: emitEvent });
    if (updateTitle) {
      this.component.ngCompleter.ctrInput.nativeElement.value &#x3D; this.getTitle(value);
    }
  }

  relationshipLookup(searchTerm, lowerTerm, searchFields) {
    const url &#x3D; this.lookupService.getMintRootUrl(this.vocabId);
    console.log(&#x60;Using: ${url}&#x60;);
    const mlu &#x3D; new MintRelationshipLookup(url, this.lookupService.http, searchFields);
    return mlu.search(searchTerm, lowerTerm);
  }

}

class ExternalLookupDataService extends Subject&lt;CompleterItem[]&gt; implements CompleterData {

  constructor(private url: string,
    private http: Http,
    private arrayProperty: string,
    private compositeTitleName: string,
    private titleFieldArr: string[],
    private titleFieldDelim: string) {
    super();
  }

  public search(term: string): void {

    this.http.post(this.url, { options: { query: term } }).map((res: any, index: number) &#x3D;&gt; {
      // Convert the result to CompleterItem[]
      let data &#x3D; res.json();
      let itemArray &#x3D; _.get(data, this.arrayProperty);
      let matches: CompleterItem[] &#x3D; [];
      _.each(itemArray, item &#x3D;&gt; {
        matches.push(this.convertToItem(item));
      })

      this.next(matches);
    }).subscribe();
  }

  public cancel() {
    // Handle cancel
  }

  public convertToItem(data: any): CompleterItem | null {
    if (!data) {
      return null;
    }
    let completerItem &#x3D; {};
    completerItem[this.compositeTitleName] &#x3D; this.getTitle(data);
    completerItem[&#x27;originalObject&#x27;] &#x3D; data;
    return completerItem as CompleterItem;
  }

  getTitle(data: any): string {
    let title &#x3D; &#x27;&#x27;;
    if (data) {
      if (_.isString(this.titleFieldDelim)) {
        _.forEach(this.titleFieldArr, (titleFld: string) &#x3D;&gt; {
          const titleVal &#x3D; _.get(data, titleFld);
          if (titleVal) {
            title &#x3D; &#x60;${title}${_.isEmpty(title) ? &#x27;&#x27; : this.titleFieldDelim}${titleVal}&#x60;;
          }
        });
      } else {
        // // expecting a delim pair array, &#x27;prefix&#x27;, &#x27;suffix&#x27;
        // _.forEach(this.titleFieldArr, (titleFld: string, idx) &#x3D;&gt; {
        //   const delimPair &#x3D; this.titleFieldDelim[idx];
        //   const titleVal &#x3D; data[titleFld];
        //   if (titleVal) {
        //     title &#x3D; &#x60;${title} ${titleVal}&#x60;;
        //   }
        // });
      }
    }
    return title;
  }

}
class MintLookupDataService extends Subject&lt;CompleterItem[]&gt; implements CompleterData {

  searchFields: any[];

  constructor(private url: string,
    private http: Http,
    private fields: string[],
    private compositeTitleName: string,
    private titleFieldArr: string[],
    private titleFieldDelim: any[],
    private titleCompleterDescription: string,
    searchFieldStr: any,
    private unflattenFlag: boolean) {
    super();
    this.searchFields &#x3D; searchFieldStr.split(&#x27;,&#x27;);
  }

  public search(term: string): void {
    term &#x3D; _.trim(luceneEscapeQuery.escape(term));
    let searchString &#x3D; &#x27;&#x27;;
    if (!_.isEmpty(term)) {
      term &#x3D; _.toLower(term);
      _.forEach(this.searchFields, (searchFld) &#x3D;&gt; {
        searchString &#x3D; &#x60;${searchString}${_.isEmpty(searchString) ? &#x27;&#x27; : &#x27; OR &#x27;}${searchFld}:${term}*&#x60;
      });
    }
    const searchUrl &#x3D; &#x60;${this.url}${searchString}&amp;unflatten&#x3D;${this.unflattenFlag}&#x60;;
    this.http.get(&#x60;${searchUrl}&#x60;).map((res: any, index: number) &#x3D;&gt; {
      // Convert the result to CompleterItem[]
      let data &#x3D; res.json();
      let matches: CompleterItem[] &#x3D; _.map(data, (mintDataItem: any) &#x3D;&gt; { return this.convertToItem(mintDataItem); });
      this.next(matches);
    }).subscribe();
  }

  public cancel() {
    // Handle cancel
  }

  public convertToItem(data: any): CompleterItem | null {
    if (!data) {
      return null;
    }
    const item: any &#x3D; {};
    _.forEach(this.fields, (fieldName) &#x3D;&gt; {
      if (_.isString(fieldName)) {
        item[fieldName] &#x3D; data[fieldName];
      } else {
        // expects a value pair
        _.forOwn(fieldName, (srcFld, targetFld) &#x3D;&gt; {
          if (_.get(data, srcFld)) {
            item[srcFld] &#x3D; _.get(data, srcFld);
          } else {
            item[targetFld] &#x3D; _.get(data, targetFld);
          }
        });
      }
    });
    // build the title,
    let completerItem &#x3D; {};
    completerItem[this.compositeTitleName] &#x3D; this.getTitle(data);
    completerItem[&#x27;description&#x27;] &#x3D; this.getCompleterDescription(data);
    completerItem[&#x27;originalObject&#x27;] &#x3D; item;
    return completerItem as CompleterItem;
  }

  getCompleterDescription(data: any): string {
    let description &#x3D; &#x27;&#x27;;
    const fieldDesc &#x3D; this.titleCompleterDescription;
    if (data) {
      if (_.isString(fieldDesc)) {
        const ele &#x3D; data[fieldDesc];
        description &#x3D; _.toString(_.head(ele)) || &#x27;&#x27;;
      } else if (_.isArray(fieldDesc)) {
        // enable descriptions to be built as an array
        _.forEach(fieldDesc, (fDesc: any) &#x3D;&gt; {
          description &#x3D; &#x60;${description}${_.isEmpty(description) ? &#x27;&#x27; : this.titleFieldDelim}${data[fDesc]}&#x60;
        });
      }
    }
    return description;
  }

  getTitle(data: any): string {
    let title &#x3D; &#x27;&#x27;;
    if (data) {
      if (_.isString(this.titleFieldDelim)) {
        _.forEach(this.titleFieldArr, (titleFld: string) &#x3D;&gt; {
          const titleVal &#x3D; data[titleFld];
          if (titleVal) {
            title &#x3D; &#x60;${title}${_.isEmpty(title) ? &#x27;&#x27; : this.titleFieldDelim}${data[titleFld]}&#x60;;
          }
        });
      } else {
        // expecting a delim pair array, &#x27;prefix&#x27;, &#x27;suffix&#x27;
        _.forEach(this.titleFieldArr, (titleFld: string, idx) &#x3D;&gt; {
          const delimPair &#x3D; this.titleFieldDelim[idx];
          const titleVal &#x3D; data[titleFld];
          if (titleVal) {
            title &#x3D; &#x60;${title} ${titleVal}${delimPair.suffix}&#x60;;
          }
        });
      }
    }
    return title;
  }
}

@Injectable()
export class VocabFieldLookupService extends BaseService {

  constructor(@Inject(Http) http: Http, @Inject(ConfigService) protected configService: ConfigService) {
    super(http, configService);
  }

  getLookupData(field: VocabField) {
    const vocabId &#x3D; field.vocabId;
    // only retrieving static data when on vocab mode
    if (field.sourceType &#x3D;&#x3D; &quot;vocab&quot;) {
      const url &#x3D; &#x60;${this.brandingAndPortalUrl}/${this.config.vocabRootUrl}/${vocabId}&#x60;;
      return this.http.get(url, this.options)
        .flatMap((res: any) &#x3D;&gt; {
          const data &#x3D; this.extractData(res);
          field.sourceData &#x3D; data;
          field.postInit(field.value);
          return Observable.of(field);
        });
    }
    field.postInit(field.value);
    return Observable.of(field);
  }

  getCollectionRootUrl(collectionId: string) {
    return &#x60;${this.brandingAndPortalUrl}/${this.config.collectionRootUri}/${collectionId}/?search&#x3D;&#x60;;
  }

  getUserLookupUrl(searchSource: string &#x3D; &#x27;&#x27;) {
    return &#x60;${this.brandingAndPortalUrl}/${this.config.userRootUri}/?source&#x3D;${searchSource}&amp;name&#x3D;&#x60;;
  }

  findLookupData(field: VocabField, search: string) {

  }

  getMintRootUrl(source: string) {
    return &#x60;${this.brandingAndPortalUrl}/${this.config.mintRootUri}/${source}/?search&#x3D;&#x60;;
  }

  getExternalServiceUrl(provider: string) {
    return &#x60;${this.brandingAndPortalUrl}/external/vocab/${provider}&#x60;;
  }


}

@Component({
  selector: &#x27;rb-vocab&#x27;,
  template: &#x60;
  &lt;ng-container *ngIf&#x3D;&quot;field.visible&quot;&gt;
  &lt;div *ngIf&#x3D;&quot;field.editMode &amp;&amp; !isEmbedded&quot; [formGroup]&#x3D;&#x27;form&#x27; [ngClass]&#x3D;&quot;getGroupClass()&quot;&gt;
    &lt;label [attr.for]&#x3D;&quot;field.name&quot; *ngIf&#x3D;&quot;field.label&quot;&gt;
     &lt;span [outerHTML]&#x3D;&quot;field.label&quot;&gt;&lt;/span&gt;&lt;span class&#x3D;&quot;form-field-required-indicator&quot; [innerHTML]&#x3D;&quot;getRequiredLabelStr()&quot;&gt;&lt;/span&gt;
      &lt;button type&#x3D;&quot;button&quot; class&#x3D;&quot;btn btn-default&quot; *ngIf&#x3D;&quot;field.help&quot; (click)&#x3D;&quot;toggleHelp()&quot; [attr.aria-label]&#x3D;&quot;&#x27;help&#x27; | translate &quot;&gt;&lt;span class&#x3D;&quot;glyphicon glyphicon-question-sign&quot; aria-hidden&#x3D;&quot;true&quot;&gt;&lt;/span&gt;&lt;/button&gt;
    &lt;/label&gt;
    &lt;span id&#x3D;&quot;{{ &#x27;helpBlock_&#x27; + field.name }}&quot; class&#x3D;&quot;help-block&quot; *ngIf&#x3D;&quot;this.helpShow&quot; [innerHtml]&#x3D;&quot;field.help&quot;&gt;{{field.help}}&lt;/span&gt;
    &lt;ng2-completer #ngCompleter  (keyup)&#x3D;&quot;onKeyup($event)&quot; [inputId]&#x3D;&quot;field.name&quot; [(ngModel)]&#x3D;&quot;field.searchStr&quot; [ngModelOptions]&#x3D;&quot;{standalone: true}&quot; [disableInput]&#x3D;&quot;disableInput&quot; [placeholder]&#x3D;&quot;field.placeHolder&quot; [clearUnselected]&#x3D;&quot;getClearUnselected()&quot; (selected)&#x3D;&quot;onSelect($event)&quot; [datasource]&#x3D;&quot;field.dataService&quot; [minSearchLength]&#x3D;&quot;0&quot; [inputClass]&#x3D;&quot;&#x27;form-control &#x27; + field.cssClasses&quot; [initialValue]&#x3D;&quot;field.initialValue&quot;&gt;&lt;/ng2-completer&gt;
    &lt;div class&#x3D;&quot;text-danger&quot; *ngIf&#x3D;&quot;hasRequiredError()&quot;&gt;{{field.validationMessages.required}}&lt;/div&gt;
  &lt;/div&gt;
  &lt;div *ngIf&#x3D;&quot;field.editMode &amp;&amp; isEmbedded&quot; [formGroup]&#x3D;&#x27;form&#x27; [ngClass]&#x3D;&quot;getGroupClass()&quot;&gt;
    &lt;div class&#x3D;&quot;row&quot;&gt;
      &lt;span id&#x3D;&quot;{{ &#x27;helpBlock_&#x27; + field.name }}&quot; class&#x3D;&quot;help-block&quot; *ngIf&#x3D;&quot;this.helpShow&quot; [innerHtml]&#x3D;&quot;field.help&quot;&gt;{{field.help}}&lt;/span&gt;
      &lt;div class&#x3D;&quot;col-xs-11 padding-remove&quot;&gt;
        &lt;ng2-completer #ngCompleter  (keyup)&#x3D;&quot;onKeyup($event)&quot; [inputId]&#x3D;&quot;name&quot; [(ngModel)]&#x3D;&quot;field.searchStr&quot; [ngModelOptions]&#x3D;&quot;{standalone: true}&quot; [disableInput]&#x3D;&quot;disableInput&quot; [placeholder]&#x3D;&quot;field.placeHolder&quot; [clearUnselected]&#x3D;&quot;getClearUnselected()&quot; (selected)&#x3D;&quot;onSelect($event)&quot; [datasource]&#x3D;&quot;field.dataService&quot; [minSearchLength]&#x3D;&quot;0&quot; [inputClass]&#x3D;&quot;&#x27;form-control &#x27;&quot; [initialValue]&#x3D;&quot;field.initialValue&quot;&gt;&lt;/ng2-completer&gt;
      &lt;/div&gt;
      &lt;div class&#x3D;&quot;col-xs-1 padding-remove&quot;&gt;
        &lt;button type&#x3D;&#x27;button&#x27; *ngIf&#x3D;&quot;removeBtnText&quot; [disabled]&#x3D;&quot;!canRemove&quot; (click)&#x3D;&quot;onRemove($event)&quot; [ngClass]&#x3D;&quot;removeBtnClass&quot; &gt;{{removeBtnText}}&lt;/button&gt;
        &lt;button [disabled]&#x3D;&quot;!canRemove&quot; type&#x3D;&#x27;button&#x27; [ngClass]&#x3D;&quot;removeBtnClass&quot; (click)&#x3D;&quot;onRemove($event)&quot; [attr.aria-label]&#x3D;&quot;&#x27;remove-button-label&#x27; | translate&quot;&gt;&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class&#x3D;&quot;row&quot;&gt;
      &lt;div class&#x3D;&quot;col-xs-12 text-danger&quot; *ngIf&#x3D;&quot;hasRequiredError()&quot;&gt;{{field.validationMessages.required}}&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;li *ngIf&#x3D;&quot;!field.editMode&quot; class&#x3D;&quot;key-value-pair&quot;&gt;
    &lt;span *ngIf&#x3D;&quot;field.label&quot; class&#x3D;&quot;key&quot;&gt;{{field.label}}&lt;/span&gt;
    &lt;span class&#x3D;&quot;value&quot;&gt;{{getTitle()}}&lt;/span&gt;
  &lt;/li&gt;
  &lt;/ng-container&gt;
  &#x60;,
})
export class VocabFieldComponent extends SimpleComponent {
  @Input() field: VocabField;
  @Input() isEmbedded: boolean &#x3D; false;
  @Input() canRemove: boolean &#x3D; false;
  @Input() removeBtnText: string &#x3D; null;
  @Input() removeBtnClass: string &#x3D; &#x27;fa fa-minus-circle btn text-20 pull-right btn-danger&#x27;;
  @Input() index: number;
  @Input() disableEditAfterSelect: boolean &#x3D; true;
  @Output() onRemoveBtnClick: EventEmitter&lt;any&gt; &#x3D; new EventEmitter&lt;any&gt;();
  disableInput: boolean;
  @ViewChild(&#x27;ngCompleter&#x27;) public ngCompleter: ElementRef;

  constructor() {
    super();
  }

  ngOnInit() {
    this.field.component &#x3D; this;
    if (_.isEmpty(this.field.value) || _.isNull(this.field.value) || _.isUndefined(this.field.value)) {
      this.loaded &#x3D; true;
    }

  }

  public getGroupClass(fldName: string &#x3D; null): string {
    if (this.isEmbedded) {
      return &#x60;col-xs-12 form-group ${this.hasRequiredError() ? &#x27;has-error&#x27; : &#x27;&#x27;}&#x60;;
    } else {
      if (!_.isEmpty(this.field.groupClasses)) {
        return this.field.groupClasses
      }
      return &#x27;&#x27;;
    }
  }



  onSelect(selected: any, emitEvent: boolean &#x3D; true, updateTitle: boolean &#x3D; false) {
    console.log(&#x60;On select:&#x60;);
    console.log(selected);
    let disableEditAfterSelect &#x3D; this.disableEditAfterSelect &amp;&amp; this.field.disableEditAfterSelect;
    if (selected) {
      if (this.loaded) {
        this.field.onItemSelect.emit(selected[&#x27;originalObject&#x27;]);
      } else {
        if (this.field.dontEmitEventOnLoad) {
          emitEvent &#x3D; false;
        }
        // set the flag after initial call
        this.loaded &#x3D; true;
      }
      if (this.field.storeLabelOnly) {
        this.field.setValue(this.field.getValue(selected.title), emitEvent, updateTitle);
      } else {
        this.field.setValue(this.field.getValue(selected[&#x27;originalObject&#x27;]), emitEvent, updateTitle);
      }
      if (disableEditAfterSelect)
        this.disableInput &#x3D; true;
    } else {
      if (disableEditAfterSelect) {
        // means user can&#x27;t edit, so no worries!
        this.field.setValue(null, emitEvent, updateTitle);
      } else {
        // set whatever value on the searchStr, let the fields decide how to parse the string...
        this.field.setValue(this.field.getValue(this.field.searchStr), emitEvent, updateTitle);
      }
    }
  }

  onKeyup(value: any) {
    let disableEditAfterSelect &#x3D; this.disableEditAfterSelect &amp;&amp; this.field.disableEditAfterSelect;
    if (!disableEditAfterSelect &amp;&amp; !this.field.restrictToSelection) {
      this.field.formModel.setValue(this.field.getValue(this.field.searchStr));
    }

  }

  onRemove(event: any) {
    this.onRemoveBtnClick.emit([event, this.index]);
  }

  getTitle() {
    return this.field &amp;&amp; _.isFunction(this.field.getTitle) ? this.field.getTitle(this.field.value) : &#x27;&#x27;;
  }

  getClearUnselected() {
    if (this.field.restrictToSelection) {
      return true;
    } else {
      return this.disableEditAfterSelect &amp;&amp; this.field.disableEditAfterSelect;
    }
  }
}

export class MintRelationshipLookup {

  searchFieldStr: string;
  http: Http;

  constructor(private url: string, http: Http, searchFieldStr: string) {
    this.http &#x3D; http;
    this.searchFieldStr &#x3D; searchFieldStr;
  }

  search(term, lower) {
    term &#x3D; _.trim(luceneEscapeQuery.escape(term));
    let searchString &#x3D; &#x27;&#x27;;
    if (!_.isEmpty(term)) {
      if (lower) term &#x3D; _.toLower(term);
      if (_.isEmpty(this.searchFieldStr)) {
        searchString &#x3D; term;
      } else {
        _.forEach(this.searchFieldStr.split(&#x27;,&#x27;), (searchFld) &#x3D;&gt; {
          searchString &#x3D; &#x60;${searchString}${_.isEmpty(searchString) ? &#x27;&#x27; : &#x27; OR &#x27;}${searchFld}:${term}&#x60;
        });
      }
    }
    const searchUrl &#x3D; &#x60;${this.url}${searchString}&#x60;;
    return this.http.get(&#x60;${searchUrl}&#x60;);
  }
}
</code></pre>
    </div>
</div>









                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'class';
            var COMPODOC_CURRENT_PAGE_URL = 'MintLookupDataService.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
