<div class="row" id="loading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="/images/loading.svg">
  </div>
  <div class="col-xs-1">
  </div>
</div>
<dmp-form oid="<%= oid %>" editMode="true" ></dmp-form>
<!-- DateTime Picker Deps -->
<script src="/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<link href='/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' rel='stylesheet' type='text/css'>
<script src="/node_modules/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<link href='/node_modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css' rel='stylesheet' type='text/css'>
<% if (!sails.config.ng2.use_bundled) { %>
<!-- Import and Load angular 2 if on dev mode-->
<script src="/dynamic/systemjs-config.js?appName=dmp"></script>
<script>
  System.import('dmp').catch(function(err){ console.error(err); });
</script>
<% } %>
