<div class="row" id="loading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="/images/loading.svg">
  </div>
  <div class="col-xs-1">
  </div>
</div>
<transfer-owner></transfer-owner>
<% if (!sails.config.ng2.use_bundled) { %>
<!-- Import and Load angular 2 if on dev mode-->
<script src="/dynamic/systemjs-config.js?appName=transfer_owner"></script>
<script>
  System.import('transfer_owner').catch(function(err){ console.error(err); });
</script>
<% } %>
