<link rel="stylesheet" type="text/css" href="/node_modules/leaflet/dist/leaflet.css">
<link rel="stylesheet" type="text/css" href="/node_modules/leaflet-draw/dist/leaflet.draw.css">
<div class="row" id="loading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="/images/loading.svg">
  </div>
  <div class="col-xs-1">
  </div>
</div>
<dmp-form oid="<%= req.param('oid') %>" editMode="false" ></dmp-form>
<script type="text/javascript" src="/angular/dmp/inline.bundle.js"></script><script type="text/javascript" src="/angular/dmp/polyfills.bundle.js"></script><script type="text/javascript" src="/angular/dmp/styles.bundle.js"></script><script type="text/javascript" src="/angular/dmp/vendor.bundle.js"></script><script type="text/javascript" src="/angular/dmp/main.bundle.js"></script>
