<div class="row" *ngIf="!isLoading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-2 control-label">{{ 'export-modified-after' | translate }} </label>
        <span class="col-xs-2">
          <datetime id="after" [(ngModel)]="modAfter" [datepicker]="datePickerOpts" [timepicker]="timePickerOpts" [hasClearButton]="hasClearButton"></datetime>
        </span>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label">{{ 'export-modified-before' | translate }} </label>
        <span class="col-xs-2">
          <datetime id="before" [(ngModel)]="modBefore" [datepicker]="datePickerOpts" [timepicker]="timePickerOpts" [hasClearButton]="hasClearButton"></datetime>
        </span>
      </div>
      <div class="form-group">
        <div class="col-xs-2"></div>
        <div class="col-xs-2 padding-remove">
          <span class="input-group-btn">
            <button (click)="download()" class="btn btn-primary">
              {{ 'export-csv-' + record_type  | translate }}
            </button>
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li *ngFor="let recTypeName of getRecordTypeNames()">
                <a href="#" (click)="setRecordType(recTypeName, $event)">
                  {{ 'export-csv-' + recTypeName  | translate }}
                </a>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-1">
  </div>
</div>
