<p>
  Attention: Data Librarian <br/>
 </p>

<p>
  A data publication, <%= record.metadata.title %>, has is now ready for review, please click <a href="http://rb2-test.redboxresearchdata.com.au/default/rdmp/record/view/<%= oid %>">here</a> to view the publication.
</p>

<p>Kind regards</p>
<p>ReDBox Team</p>
