<p>
  Attention: <br/>
  <%= record.metadata.contributor_ci.text_full_name %><br/>
  <%= record.metadata.contributor_data_manager.text_full_name %><br/>
  <%= record.metadata.contributor_supervisor.text_full_name %><br/>
 </p>

<p>
  A data publication, <%= record.metadata.title %>, has been staged for publication.

  TODO: Place link here to landing page on Staging.
</p>

<p>Kind regards</p>
<p>ReDBox Team</p>
