<div class="row">
    <div class="col-md-offset-5 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><%= TranslationService.t('aaf-title') %></span>
        </div>
        <div class="panel-body">
          <% 
            const brandingAwareConfig = typeof sails.config.brandingAware === 'function' ? sails.config.brandingAware(branding) : {};
            const brandAuthConfig = brandingAwareConfig.auth || {};
            const aafConfig = brandAuthConfig.aaf || {};
            const aafLoginUrl = aafConfig.loginUrl || '#';
          %>
          <a href='<%= aafLoginUrl %>'><img src='<%= BrandingService.getRootContext() %>/images/aaf_service_223x54.png' alt="<%= TranslationService.t('aaf-logo-alt-text') %>"/></a>
        </div>
      </div>
    </div>
</div>
