<% include ../../../functions %>
<div class='container'>
<%- superPartial("/user/aaf.ejs", branding, portal) %>
<div style="text-align: center;"><a id="adminLoginLink" href="#" onclick="jQuery('#adminLogin').show();jQuery('#adminLoginLink').hide();return false;">Login as an administrator</a></div>
<div id="adminLogin" style="display:none">
  <%- superPartial("/user/local.ejs", branding, portal) %>
</div>
</div>
