<% include('../../../functions') %>
<div class='container'>
<%- superPartial("/user/aaf.ejs", branding, portal) %>
<%- superPartial("/user/openidconnect.ejs", branding, portal) %>
<div id="adminLoginShow">
    <a data-bs-toggle="collapse" data-bs-target="#adminLogin" role="button" aria-expanded="false" aria-controls="adminLogin">
    Login as an administrator
    </a>
</div>
<div id="adminLogin" class="collapse">
  <%- superPartial("/user/local.ejs", branding, portal) %>
</div>
</div>
