<div class="row" id="loading">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
          <img class="center-block" src="/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
        </div>
        <div class="col-xs-1">
        </div>
      </div>
      <div class="row">
        <user-profile></user-profile>
      </div>
    <script type="text/javascript" src="/angular/userProfile/inline.bundle.js"></script><script type="text/javascript" src="/angular/userProfile/polyfills.bundle.js"></script><script type="text/javascript" src="/angular/userProfile/styles.bundle.js"></script><script type="text/javascript" src="/angular/userProfile/vendor.bundle.js"></script><script type="text/javascript" src="/angular/userProfile/main.bundle.js"></script>
