.rb-form-host .rb-pdf-list .btn-group {
    display: inline-flex !important;
    align-items: stretch;
}

.rb-form-host .rb-pdf-list .btn-group > .dropdown-toggle-split {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}