$branding-color-1: #b1101a !default;
$branding-color-2: #500005 !default;
$branding-color-3: #fff !default;
$branding-color-4: #888 !default;
$branding-color-5: #999 !default;
$branding-color-6: #222 !default;
$branding-color-7: #262626 !default;
$branding-color-8: #a9a9a9 !default;
$branding-color-9: #000 !default;
$branding-color-10: #222222 !default;
$branding-color-11: #f4f4f4 !default;
$branding-color-12: #ddd !default;
$branding-color-13: #337ab7 !default; // hyperlink
$branding-color-14: #23527c !default; // hyperlink hover
$branding-color-15: #23527c !default; // hyperlink focus

$min-contrast-ratio:   3 !default;
