@media only print {
  .maincontent-body dmp-form .row .row, .maincontent-body dmp-form .row .row tabcontainer > div:first-child {
    padding-left: 0;
    margin-left: 0;
  }

  .btn, .btn-info, .user-menu, a[href]:after, .mainmenu-area {
    display: none !important;
  }
  .collapse {
    display: block !important;
  }
  #overview {
    height: auto;
  }

  .print-hidden {
    display:none;
  }

  #system-message-area {
    display: none !important;
  }

  .print-display {
    display:inherit;
  }
  .site-branding-area {
    background-color: $site-branding-area-background-color !important;
  }

  div.panel {
    page-break-inside: avoid;
  }

  .panel-heading {
    background-color: $panel-branding-background-color !important;
    color: $panel-branding-color !important;
  }

  .view-accordion .panel-group .main-expand-collapse {
    display: none !important;
  }

  .panel-title > a{
    color: $print-panel-title-link-color !important;
  }
  .navbar-fixed-bottom {
    position: relative !important;
  }

  .footer-bottom-area {
   /*background: none repeat scroll 0 0 #000 !important;*/
    display: none !important
  }

  .copyright {
    display: none;
  }

  .btn .btn-large {
    display:none;
  }

  .rb-view-repeatable-card, .rb-view-repeatable-table-wrapper {
    page-break-inside: avoid;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {

.col-1, .col-2 {
  width: 293px;
}


}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.user-menu, .header-right ul.list-inline {
  text-align: center;
}
.mainmenu-area ul.navbar-nav li a {
  font-size: 14px;
  padding: 15px 10px;
}
.single-promo {margin-bottom: 30px}


.col-1, .col-2 {
  width: 345px;
}

}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

.user-menu, .header-right ul.list-inline {
  text-align: center;
}
.logo h1 {
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
    border-color: $navbar-toggle-border-color;
    float: none;
    margin: 10px auto;
}
.navbar-toggle .icon-bar { background: none repeat scroll 0 0 $navbar-toggle-icon-color }
.navbar-collapse.collapse.in {
  background: none repeat scroll 0 0 $navbar-collapse-bg;
  position: relative;
  z-index: 99;
}
.mainmenu-area ul.navbar-nav li a {
  padding: 15px;
}
.mainmenu-area {position: relative !important}


.single-promo {
  margin-bottom: 30px;
}
.section-title {
  font-size: 35px;
}

.product-wid-title {
  font-size: 25px;
}

.related-products-wrapper .owl-nav {
  left: -15px;
  position: relative;
  right: inherit;
  top: 15px;
}

.col2-set {
  margin-left: 0;
}
.col-1, .col-2 {
  float: none;
  margin-left: 0;
  width: inherit;
}
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {



}
