@font-face {
    font-family: 'redboxresearchdata';
    src:  url('../default/default/fonts/redbox/redbox.eot?vyxh9f');
    src:  url('../default/default/fonts/redbox/redbox.eot?vyxh9f#iefix') format('embedded-opentype'),
      url('../default/default/fonts/redbox/redbox.ttf?vyxh9f') format('truetype'),
      url('../default/default/fonts/redbox/redbox.woff?vyxh9f') format('woff'),
      url('../default/default/fonts/redbox/redbox.svg?vyxh9f#redboxresearchdata') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'redboxresearchdata' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-redbox-logo:before {
    content: "\e900";
  }
  .icon-checklist:before {
    content: "\e91c";
  }

  .icon-3x {
    font-size: 2.44em;
  }
  