.floatleft { float: left }
.floatright { float: right }
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
.equal {
    display: -webkit-flex;
    display: flex;
}
a:focus { outline: 0px solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 15px;
}
body { font-family: 'Titillium Web', sans-serif; }


.header-area {
    background: none repeat scroll 0 0 $header-branding-background-color;
}
.header-area a {
    color: $header-branding-link-color;
}
.user-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.user-menu li {
    display: inline-block;
}
.user-menu li a {
    display: block;
    font-size: 13px;
    margin-right: 5px;
    padding: 10px;
}
.user-menu li a i.fa {
    margin-right: 5px;
}
.header-right ul.list-inline {
    margin: 0;
    text-align: right;
}
.header-right ul.list-inline li a {
    display: block;
    padding: 9px;
}
.header-right ul.list-inline li ul a {
    padding: 5px 15px;
}
.header-right ul.list-inline li ul {
    border: medium none;
    border-radius: 0;
    left: 50%;
    margin-left: -50px;
    min-width: 100px;
    text-align: center;
}

.mainmenu-area {
background: none repeat scroll 0 0 $mainmenu-branding-background-color;
font-family: "Roboto Condensed",sans-serif;
text-transform: uppercase;
width: 100%;
z-index: 999;
}



.logo h1 {
    font-size: 40px;
    margin: 40px 0;font-weight: 400;
}
.logo h1 a {
    color: $logo-link-color-branding;
}
.logo h1 a:hover {text-decoration: none;opacity: .7}


.mainmenu-area ul.navbar-nav li a {
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
    color: white;
}

 .mainmenu-area ul.navbar-nav li.active a {
   background-color: $main-menu-active-item-background-color;
   color:$main-menu-active-item-color;
}

.mainmenu-area ul.dropdown-menu li a {
    color: $mainmenu-inactive-item-color;
    background-color: $mainmenu-inactive-item-background-color;
}

.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {}
.mainmenu-area .nav > li > a:focus {color: $mainmenu-selected-item-color}


.maincontent-area {padding-bottom: 170px}

.footer-bottom-area {background: $footer-bottom-area-branding-background-color;
  color: $footer-bottom-area-branding-color;
}

.footer-wid-title {
  font-family: raleway;
  font-size: 30px;
  font-weight: 100;color: #fff
}


a {color: #428bca}

.footer-bottom-area {
  background: none repeat scroll 0 0 $footer-bottom-area-branding-background-color;
  color: #fff;
  padding-bottom: 40px;
}


.footer-card-icon {
  font-size: 30px;
  text-align: right;
}

.copyright > p {
  margin: 10px 0 0;
}


.maincontent-bit-title h2 {
  font-family: raleway;
  font-size: 50px;
  font-weight: 200;
  margin: 0;
  padding: 10px 0;
  color: $maincontent-heading-text-branding-color;
}

.maincontent-body {
  padding: 80px 0 130px;
}

.site-branding-area {
  background-color: $site-branding-area-background;
}

.site-branding-area h1 {
  color: $site-branding-area-heading-color;
}


input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #ddd;
    padding: 10px;
}
input[type="submit"], button[type=submit] {
    background: none repeat scroll 0 0 #428bca;
    border: medium none;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
}
input[type="submit"]:hover, button[type=submit]:hover {background-color: #222}
.single-sidebar input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
}

.tab-content h2 {
    font-size: 20px;
}
.tab-content {
    margin-bottom: 30px;
}

.col2-set {
    margin-left: -30px;
    overflow: hidden;
}
.col-1, .col-2 {
    float: left;
    margin-left: 30px;
    width: 360px;
}

div.logo img {
  height:110px
}

.search-box {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.pagination > li > a, .pagination > li > span {
  color: #428bca;
}

.dashboard-controls {
  margin-left: 0.5em;
}

.key-value-list {
  padding: 0;
}

.key-value-pair {
  list-style: none;
}

.key-value-pair > .key {
  font-weight: bold;
  font-size: 110%;
  display:block;
}

.view-controls {
  padding-bottom:1em;
}

.margin-1 {
  margin: 1px;
}

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-15 {
  margin: 15px;
}

.margin-20 {
  margin: 20px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-20 {
  font-size: 20px;
}

.text-30 {
  font-size: 30px;
}

.padding-10 {
  padding: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.radio-label {
  font-weight: 400;
}

.panel-search-refine {
    margin-left: 10px;
    margin-bottom: 10px;
}

.header h1#main-title {
    text-align: center;
}

.panel-default > .panel-heading {
  background-color: $panel-branding-background-color;
  color:  $panel-branding-color;
}

.padding-remove {
  padding-left:0px;
  padding-right:0px;
}

.width-5 {
  width: 5% !important;
}

.width-10 {
  width: 10% !important;
}

.width-20 {
  width: 20% !important;
}

.width-30 {
  width: 30% !important;
}

.width-40 {
  width: 40% !important;
}

.width-50 {
  width: 50% !important;
}

.width-60 {
  width: 60% !important;
}

.width-70 {
  width: 70% !important;
}

.width-80 {
  width: 80% !important;
}

.width-90 {
  width: 90% !important;
}

.width-100 {
  width: 100% !important;
}

tree-internal div.rootless {
    display: none !important;
}

tree-internal .tree li {
    list-style: none;
    cursor: default;
}

tree-internal .tree div.node-checkbox {
    display:inline;
}

tree-internal .tree div.node-checkbox {
    display:inline;
}

tree-internal .tree div.node-value {
    display:inline;
}

tree-internal ul.tree {
    padding-left: 30px;
}

node-menu {
  display: none;
}

tree-internal > ul.rootless > li > tree-internal > ul {
    padding-left: 0 !important;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.nav-search-bar {
  padding-top: 10px;
  padding-left: 10px;
}

.view-accordion {
  margin-top: 20px;
}

.panel-body .key-value-pair {
    margin-top: 10px;
}

.panel-body h4 {
    margin-top: 10px;
}

.view-contributor {
  margin-top: 10px;
}

.field-label {
  font-size: 110%;
  font-weight: bold;
}

.label-font {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}

.tab-header-font {
  font-weight: bold;
}

.h1-header {
  font-size: 36px;
  font-weight: bold;
}

.h2-header {
  font-size: 30px;
  font-weight: bold;
}

.h3-header {
  font-size: 24px;
  font-weight: bold;
}

.h4-header {
  font-size: 18px;
  font-weight: bold;
}

.h5-header {
  font-size: 14px;
  font-weight: bold;
}

.h6-header {
  font-size: 12px;
  font-weight: bold;
}

.normal-font {
  font-weight: normal;
}

.view-contributor > .col-xs-3 {
    white-space: -moz-pre-wrap !important;
    white-space: -webkit-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.completer-dropdown {
  /*This worked because shadow dom did not!*/
  width: auto !important;
  overflow-y: scroll;
  overflow-x: auto;
  max-height: 400px;
}
