version: '3.1'
networks:
  main:
services:
  redboxportal:
    
    image: qcifengineering/redbox-portal:latest
    ports:
       - "1500:1500"
    volumes:
       - "../../:/opt/redbox-portal"
       - "../../.tmp/attachments:/attachments"
    expose:
       - "1500"
    environment:
      - NODE_ENV=integrationtest
      - PORT=1500
      - sails_redbox__apiKey=c8e844fc-8550-497f-b970-7900ec8741ca
      - sails_record__baseUrl_redbox=http://redbox:9000/redbox
      - sails_record__baseUrl_mint=http://203.101.226.160/mint
      # - sails_log__level=verbose
      - sails_brandingConfigurationDefaults__auth__local__default__token=d077835a-696b-4728-85cf-3ffd57152b1e
      - sails_security__csrf=false
    networks:
     main:
       aliases:
         - rbportal
    init: true
    entrypoint: /bin/bash -c "cd /opt/redbox-portal && node app.js"
  mongodb:
    image: mvertes/alpine-mongo:latest
    networks:
      main:
        aliases:
          - mongodb
    ports:
       - "27017:27017"
  solr:
    image: solr:9.10.1
    expose:
      - "8983"
    ports:
      - "8983:8983"
    environment:
      - SOLR_HOME=/var/solr/data
    # volumes:
      # Please do before: sudo chown 8983:8983 /mnt/data/solr
      # - "/mnt/data/solr:/var/solr/data"
    networks:
      main:
       aliases:
         - solr
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - redbox
