version: '3.1'
networks:
  main:
services:
  redboxportal:
    image: qcifengineering/redbox-portal:develop
    ports:
       - "1500:1500"
      # Debugging port
      # - "9876:9876"
    volumes:
       - "../../:/opt/redbox-portal"
       - "./.tmp/attachments:/attachments"
    expose:
       - "1500"
    environment:
      - NODE_ENV=integrationtest
      - PORT=1500
      - sails_redbox__apiKey=c8e844fc-8550-497f-b970-7900ec8741ca
      - sails_record__baseUrl_redbox=http://redbox:9000/redbox
      - sails_record__baseUrl_mint=http://203.101.226.160/mint
      # - sails_log__level=verbose
      - sails_auth__default__local__default__token=d077835a-696b-4728-85cf-3ffd57152b1e
      - sails_security__csrf=false
      - datacite_username=${datacite_username}
      - datacite_password=${datacite_password}
      - datacite_doiPrefix=${datacite_doiPrefix}
    depends_on:
      keycloak:
        condition: service_healthy
      mongodb:
        condition: service_started
    networks:
     main:
       aliases:
         - rbportal
    # add 'node --inspect=0.0.0.0:9876' to entrypoint for debugging
    entrypoint: >-
      /bin/bash -c "cd /opt/redbox-portal && 
      npm i nyc -g && 
      npm i &&
      nyc 
      --no-clean 
      --report-dir coverage/mocha 
      --reporter=lcov 
      --exclude-after-remap=false 
      node 
      ./node_modules/mocha/bin/mocha 
      --exit test/bootstrap.test.js 
      test/unit/**/*.test.js"
  mongodb:
    image: mongo:latest
    networks:
      main:
        aliases:
          - mongodb
    ports:
       - "27017:27017"
  solr:
    image: solr:latest
    expose:
      - "8983"
    ports:
      - "8983:8983"
    networks:
      main:
       aliases:
         - solr
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - redbox
  keycloak:
    image: quay.io/keycloak/keycloak:17.0.1
    expose:
      - "8080"
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:8080"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - "./keycloakdb/data:/opt/keycloak/data"
    networks:
      main:
       aliases:
         - keycloak
    command:
      - start-dev
