version: '3.9'

networks:
  main:

x-rbportal-env: &rbportal-env
  - NODE_ENV=integrationtest
  - PORT=1500
  - sails_redbox__apiKey=c8e844fc-8550-497f-b970-7900ec8741ca
  - sails_record__baseUrl_redbox=http://redbox:9000/redbox
  - sails_record__baseUrl_mint=http://203.101.226.160/mint
  - sails_redbox__mochaTesting=true
  - sails_brandingConfigurationDefaults__auth__local__default__token=d077835a-696b-4728-85cf-3ffd57152b1e
  - sails_security__csrf=false
  - datacite_username=${datacite_username:-}
  - datacite_password=${datacite_password:-}
  - datacite_doiPrefix=${datacite_doiPrefix:-}
  - CI=${CI:-false}
  - RBPORTAL_COVERAGE_DIR=/tmp/coverage/mocha

x-rbportal-depends: &rbportal-depends
  keycloak:
    condition: 'service_healthy'
  mongodb:
    condition: 'service_healthy'
  solr:
    condition: 'service_healthy'
  email:
    condition: 'service_healthy'

x-rbportal-service: &rbportal-service
  image: ${RBPORTAL_IMAGE:-qcifengineering/redbox-portal:develop}
  pull_policy: 'missing'
  ports:
    - "1500:1500"
    # Debugging port
    # - "9876:9876"
  volumes:
    - "../../test:/opt/redbox-portal/test"
    - "../../support:/opt/redbox-portal/support"
    - "../../typescript:/opt/redbox-portal/typescript"
    - "../../coverage/mocha:/tmp/coverage/mocha"
    - "../../.tmp/junit/backend-mocha:/opt/redbox-portal/.tmp/junit/backend-mocha"
    - "../../.tmp/attachments:/attachments"
    - "../../tsconfig.json:/opt/redbox-portal/tsconfig.json"
    - "./recordtype-solr-multi-core-example.js:/opt/redbox-portal/config/recordtype.js"
    - "./solr-multi-core-example.js:/opt/redbox-portal/config/solr.js"
    - "../../test/resources/config/emailnotification.js:/opt/redbox-portal/config/emailnotification.js"
    - "../resources/development/bootstrap-data:/opt/redbox-portal/bootstrap-data:ro"
  depends_on: *rbportal-depends
  expose:
    - "1500"
  environment: *rbportal-env
  networks:
    main:
      aliases:
        - redboxportal
  init: true
  entrypoint:
    - bash
    - /opt/redbox-portal/support/integration-testing/run-mocha-redbox.sh

services:
  redboxportal:
    <<: *rbportal-service
    profiles: [portal]
    user: "${UID:-1000}:${GID:-1000}"
  redboxportal-mount:
    <<: *rbportal-service
    profiles: [mount]
    ports: []
    volumes:
      - "../../:/opt/redbox-portal:delegated"
      - "../../.tmp/attachments:/attachments"
      - "./recordtype-solr-multi-core-example.js:/opt/redbox-portal/config/recordtype.js"
      - "./solr-multi-core-example.js:/opt/redbox-portal/config/solr.js"
      - "../resources/development/bootstrap-data:/opt/redbox-portal/bootstrap-data:ro"
  mongodb:
    image: mongo:latest
    pull_policy: 'always'
    networks:
      main:
        aliases:
          - mongodb
    ports:
       - "27017:27017"
    healthcheck:
      test: [ 'CMD-SHELL', "echo 'db.runCommand(\"ping\").ok' | mongosh" ]
      interval: '10s'
      timeout: '5s'
      retries: 10
      start_period: '30s'
  solr:
    image: solr:latest
    pull_policy: 'always'
    expose:
      - "8983"
    ports:
      - "8983:8983"
    healthcheck:
      test: [ 'CMD-SHELL', 'curl http://localhost:8983' ]
      interval: '10s'
      timeout: '5s'
      retries: 10
      start_period: '30s'
    volumes:
      - "./solr.in.sh:/etc/default/solr.in.sh"
    networks:
      main:
       aliases:
         - solr
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - redbox
  keycloak:
    image: quay.io/keycloak/keycloak:17.0.1
    pull_policy: 'always'
    expose:
      - "8080"
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:8080"]
      interval: '10s'
      timeout: '5s'
      retries: 10
      start_period: '30s'
    volumes:
      - "./keycloakdb/data:/opt/keycloak/data"
    networks:
      main:
       aliases:
         - keycloak
    command:
      - start-dev
  email:
    image: axllent/mailpit:latest
    pull_policy: 'always'
    expose:
      - '1025'
      - '8025'
    ports:
      - '8025:8025'
      - '1025:1025'
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: '/data/mailpit.db'
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
      TZ: 'Australia/Brisbane'
    volumes:
      - '../../.tmp/email:/data'
    networks:
      main:
        aliases:
          - 'email'
