
networks:
  main:

services:
  redboxportal:
    image: qcifengineering/redbox-portal:develop
    pull_policy: 'always'
    ports:
       - "1500:1500"
      # Debugging port
      # - "9876:9876"
    volumes:
       - "../../:/opt/redbox-portal"
       - "../../.tmp/attachments:/attachments"
       - "./recordtype-solr-multi-core-example.js:/opt/redbox-portal/config/recordtype.js"
       - "./solr-multi-core-example.js:/opt/redbox-portal/config/solr.js"
    depends_on:
      keycloak:
        condition: 'service_healthy'
      mongodb:
        condition: 'service_healthy'
      solr:
        condition: 'service_healthy'
      email:
        condition: 'service_healthy'
    expose:
       - "1500"
    environment:
      - NODE_ENV=integrationtest
      - PORT=1500
      - sails_redbox__apiKey=c8e844fc-8550-497f-b970-7900ec8741ca
      - sails_record__baseUrl_redbox=http://redbox:9000/redbox
      - sails_record__baseUrl_mint=http://203.101.226.160/mint
      - sails_redbox__mochaTesting=true
      - sails_auth__default__local__default__token=d077835a-696b-4728-85cf-3ffd57152b1e
      - sails_security__csrf=false
      - datacite_username=${datacite_username}
      - datacite_password=${datacite_password}
      - datacite_doiPrefix=${datacite_doiPrefix}
    networks:
     main:
       aliases:
         - redboxportal
    # add 'node --inspect=0.0.0.0:9876' to entrypoint for debugging
    entrypoint: >-
      /bin/bash -c "cd /opt/redbox-portal &&
      ./support/integration-testing/prepare-guest.sh /opt/redbox-portal &&
      npm install -g nyc &&
      npm install &&
      nyc
      --no-clean
      --report-dir coverage/mocha
      --reporter=lcov
      --exclude-after-remap=false
      node
      ./node_modules/mocha/bin/mocha
      --config test/unit/.mocharc.js
      --exit test/bootstrap.test.js
      test/unit/**/*.test.js"
  mongodb:
    image: mongo:latest
    pull_policy: 'always'
    networks:
      main:
        aliases:
          - mongodb
    ports:
       - "27017:27017"
    healthcheck:
      test: [ 'CMD-SHELL', "echo 'db.runCommand(\"ping\").ok' | mongosh" ]
      interval: '10s'
      timeout: '5s'
      retries: 10
      start_period: '30s'
  solr:
    image: solr:latest
    pull_policy: 'always'
    expose:
      - "8983"
    ports:
      - "8983:8983"
    healthcheck:
      test: [ 'CMD-SHELL', 'curl http://localhost:8983' ]
      interval: '10s'
      timeout: '5s'
      retries: 10
      start_period: '30s'
    volumes: 
      - "./solr.in.sh:/etc/default/solr.in.sh"
    networks:
      main:
       aliases:
         - solr
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - redbox
  keycloak:
    image: quay.io/keycloak/keycloak:17.0.1
    pull_policy: 'always'
    expose:
      - "8080"
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:8080"]
      interval: '10s'
      timeout: '5s'
      retries: 10
      start_period: '30s'
    volumes:
      - "./keycloakdb/data:/opt/keycloak/data"
    networks:
      main:
       aliases:
         - keycloak
    command:
      - start-dev
  email:
    image: axllent/mailpit:latest
    pull_policy: 'always'
    expose:
      - '1025'
      - '8025'
    ports:
      - '8025:8025'
      - '1025:1025'
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: '/data/mailpit.db'
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
      TZ: 'Australia/Brisbane'
    volumes:
      - '../../.tmp/email:/data'
    networks:
      main:
        aliases:
          - 'email'
