.manage-roles-filter-actions {
  padding-top: 1.6rem;
}
.manage-roles-filter-actions .btn-link {
  margin-left: 0.5rem;
}
.table-responsive {
  margin-top: 1rem;
}
td .help-block {
  margin: 0.4rem 0 0;
  max-width: 42rem;
}
