
<div *ngIf="field.editMode" class='padding-bottom-10'>
  
  <div class="row">
    <h4 [innerHtml]="'form-record-permissions-usereditheading' | translate"></h4>
    <table class="table">
      <thead>
          <tr>
             <th [innerHtml]="'form-record-permissions-usernametableheading' | translate"></th><th [innerHtml]="'form-record-permissions-nametableheading' | translate"></th><th [innerHtml]="'form-record-permissions-emailtableheading' | translate"></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permission of field.permissions.edit">
          <td>{{permission.username}}</td><td>{{permission.name}}</td><td>{{permission.email}}</td>
        </tr>
        
      </tbody>
    </table>

    <h4 [innerHtml]="'form-record-permissions-userviewheading' | translate"></h4>
    <table class="table">
      <thead>
          <tr>
            <th [innerHtml]="'form-record-permissions-usernametableheading' | translate"></th><th [innerHtml]="'form-record-permissions-nametableheading' | translate"></th><th [innerHtml]="'form-record-permissions-emailtableheading' | translate"></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permission of field.permissions.view">
          <td>{{permission.username}}</td><td>{{permission.name}}</td><td>{{permission.email}}</td>
        </tr>
        
      </tbody>
    </table>

    <h4 [innerHtml]="'form-record-permissions-userpendingeditheading' | translate"></h4>
    <table class="table">
      <thead>
          <tr>
             <th [innerHtml]="'form-record-permissions-emailtableheading' | translate"></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permission of field.permissions.editPending">
          <td>{{permission}}</td>
        </tr>
      </tbody>
    </table>

    <h4 [innerHtml]="'form-record-permissions-userpendingviewheading' | translate"></h4>
    <table class="table">
      <thead>
          <tr>
             <th [innerHtml]="'form-record-permissions-emailtableheading' | translate"></th>
          </tr>
      </thead>

        <tbody>
          <tr *ngFor="let permission of field.permissions.viewPending">
            <td>{{permission}}</td>
          </tr>
        </tbody>
        
    </table>

    <h4 [innerHtml]="'form-record-permissions-roleeditheading' | translate"></h4>
    <table class="table">
      <thead>
          <tr>
             <th [innerHtml]="'form-record-permissions-rolenametableheading' | translate"></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permission of field.permissions.editRoles">
          <td>{{permission}}</td>
        </tr>
      </tbody>
    </table>

    <h4 [innerHtml]="'form-record-permissions-roleviewheading' | translate"></h4>
    <table class="table">
      <thead>
          <tr>
             <th [innerHtml]="'form-record-permissions-rolenametableheading' | translate"></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permission of field.permissions.viewRoles">
          <td>{{permission}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
