<!-- Basic Uppy styles -->
<ng-container *ngIf="field.visible">
<div>
  <span class="label-font">
    {{field.label}} {{ getRequiredLabelStr()}}
    <button type="button" class="btn btn-default" *ngIf="field.help && field.editMode" (click)="toggleHelp()"
            [attr.aria-label]="'help' | translate "><span class="glyphicon glyphicon-question-sign"
                                                          aria-hidden="true"></span></button>
  </span>
</div>
<div *ngIf="this.helpShow">
  <span id="{{ 'helpBlock_' + field.name }}" class="help-block" [innerHtml]="field.help"></span>
</div>
<div>
  <div class="table-responsive" *ngIf="getDatalocations() && getDatalocations().length > 0">
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th width="40%">{{ field.locationHeader }}</th>
        <th *ngIf="field.notesEnabled" width="20%">{{ field.notesHeader }}</th>
        <th width="5%" *ngIf="field.editMode"><span [hidden]="true">Action</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataLocation of getDatalocations(); let i = index;">
        <td>
          <ng-container *ngIf="dataLocation">
            <ng-container *ngIf="dataLocation.pending">
              {{ dataLocation.name }}
            </ng-container>
            <a *ngIf="!dataLocation.pending" href="{{ getAbsUrl(dataLocation.location) }}" target="_blank" rel="noopener noreferrer">
              {{ dataLocation.name }}
            </a>
          </ng-container>
        </td>
        <td *ngIf="field.notesEnabled">
          <input *ngIf="field.editMode" type='text' [ngClass]="form-control" [(ngModel)]="dataLocation.notes"
                 [attr.aria-label]="field.notesHeader" (change)="field.updateNote(opt, $event)"/>
          <span *ngIf="!field.editMode">{{ dataLocation.notes }}</span>
        </td>
        <td *ngIf="field.editMode">
          <a class="fa fa-minus-circle btn text-20 btn-danger" (click)="field.removeLocation(dataLocation)"></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row padding-bottom-10" *ngIf="field.editMode">
    <div *ngIf="field.editMode">
      <div class="col-sm-6">
        <a [class.disabled]="isAttachmentsDisabled()"
           class="btn btn-info UppyModalOpenerBtn"
           [style.display]="inherit" (click)="openModal()">{{ field.attachmentText }}</a>
      </div>
    </div>
  </div>
</div>
</ng-container>
